{% unless classes != blank %}
    {% assign classes = 'candy-memory-form' %}
{% endunless %}

{% form 'contact' , class: 'candy-memory-form' %}

    {% if form.posted_successfully? %}
        <p class="form-success">Thanks for submitting your candy memory! Check back later to see it published.</p>
    {% endif %}

    {{ form.errors | default_errors }}

    {% unless form.posted_successfully? %}
    {% comment %} Name {% endcomment %}
    <div class="field field--required mb-3">
        <div class="field-input-wrapper">
            <label  for="ContactFormFirstName" class="field-label">First Name<span class="color-red">*</span></label>
            <input  type="text"
                    class="field-input"
                    name="contact[first_name]"
                    id="ContactFormFirstName"
                    placeholder=""
                    value="{% if form[first_name] %}{{ form[first_name] }}{% endif %}"
                    required>
        </div>
    </div>

    {% comment %} Email {% endcomment %}
    <div class="field field--required mb-3">
        <div class="field-input-wrapper">
            <label  for="ContactFormEmail" class="field-label">Email Address<span class="color-red">*</span></label>
            <input  type="email"
                    class="field-input"
                    name="contact[email]"
                    id="ContactFormEmail"
                    placeholder="Email Address"
                    value="{% if form.email %}{{ form.email }}{% endif %}"
                    spellcheck="false"
                    autocomplete="off"
                    autocapitalize="off"
                    required>
        </div>
    </div>

    {% comment %} Candy {% endcomment %}
    <div class="field field--required mb-3">
        <div class="field-input-wrapper">
            <label  for="Candy" class="field-label">Candy<span class="color-red">*</span></label>
            <input  type="text"
                    class="field-input"
                    name="contact[candy]"
                    id="Candy"
                    placeholder="Candy"
                    required>
        </div>
    </div>

    {% comment %} State {% endcomment %}
    <div class="field mb-3">
        <div class="field-input-wrapper">
            <label for="State" class="visually-hidden">State</label>
            <select id="State" class="unstyled" name="contact[State]">
                <option disabled selected>State</option>
                <option value="Alabama">Alabama</option>
                <option value="Alaska">Alaska</option>
                <option value="Arizona">Arizona</option>
                <option value="Arkansas">Arkansas</option>
                <option value="California">California</option>
                <option value="Colorado">Colorado</option>
                <option value="Connecticut">Connecticut</option>
                <option value="Delaware">Delaware</option>
                <option value="Florida">Florida</option>
                <option value="Georgia">Georgia</option>
                <option value="Hawaii">Hawaii</option>
                <option value="Idaho">Idaho</option>
                <option value="Iowa">Iowa</option>
                <option value="Illinois">Illinois</option>
                <option value="Indiana">Indiana</option>
                <option value="Kansas">Kansas</option>
                <option value="Kentucky">Kentucky</option>
                <option value="Louisiana">Louisiana</option>
                <option value="Massachusetts">Massachusetts</option>
                <option value="Maryland">Maryland</option>
                <option value="Maine">Maine</option>
                <option value="Michigan">Michigan</option>
                <option value="Minnesota">Minnesota</option>
                <option value="Mississippi">Mississippi</option>
                <option value="Missouri">Missouri</option>
                <option value="Montana">Montana</option>
                <option value="North Carolina">North Carolina</option>
                <option value="North Dakota">North Dakota</option>
                <option value="Nebraska">Nebraska</option>
                <option value="New Hampshire">New Hampshire</option>
                <option value="New Jersey">New Jersey</option>
                <option value="New Mexico">New Mexico</option>
                <option value="Nevada">Nevada</option>
                <option value="New York">New York</option>
                <option value="Ohio">Ohio</option>
                <option value="Oklahoma">Oklahoma</option>
                <option value="Oregon">Oregon</option>
                <option value="Pennsylvania">Pennsylvania</option>
                <option value="Rhode Island">Rhode Island</option>
                <option value="South Carolina">South Carolina</option>
                <option value="South Dakota">South Dakota</option>
                <option value="Tennessee">Tennessee</option>
                <option value="Texas">Texas</option>
                <option value="Utah">Utah</option>
                <option value="Virginia">Virginia</option>
                <option value="Vermont">Vermont</option>
                <option value="Washington">Washington</option>
                <option value="Washington DC">Washington D.C.</option>
                <option value="West Virginia">West Virginia</option>
                <option value="Wisconsin">Wisconsin</option>
                <option value="Wyoming">Wyoming</option>
            </select>
        </div>
    </div>

    {% comment %} Memory {% endcomment %}
    <div class="field optional-fields mb-3">
        <div class="field-input-wrapper">
            <label  for="Memory" class="field-label textarea">What's Your Memory?<span class="color-red">*</span></label>
            <textarea
                    class="field-input"
                    name="contact[memory]"
                    id="Memory"
                    rows="8"
                    placeholder="What's Your Memory?"
                    required></textarea>
        </div>
    </div>

    <p class="color-red font-secondary mb-3">Required Fields*</p>

    <input type="submit" class="btn btn--secondary m-0" value="Submit Memory">
    
    {% endunless %} {% comment %} End Unless Posted {% endcomment %}

{% endform %}
