
<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title>Account icon</title>
  <mask id="mask0_3200_3063" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="42" height="42">
  <path d="M21.2373 1.41946C17.2816 1.41946 13.4149 2.59243 10.1259 4.79006C6.83692 6.98769 4.27347 10.1113 2.75971 13.7658C1.24596 17.4203 0.849907 21.4416 1.62161 25.3212C2.39331 29.2009 4.29811 32.7645 7.09515 35.5616C9.8922 38.3586 13.4559 40.2634 17.3355 41.0351C21.2151 41.8068 25.2364 41.4108 28.891 39.897C32.5455 38.3833 35.669 35.8198 37.8667 32.5308C40.0643 29.2419 41.2373 25.3751 41.2373 21.4194C41.2414 18.7918 40.7269 16.1893 39.7233 13.7609C38.7197 11.3325 37.2467 9.12606 35.3887 7.26806C33.5307 5.41007 31.3242 3.93704 28.8959 2.93342C26.4675 1.9298 23.8649 1.41531 21.2373 1.41946Z" fill="#057294" stroke="#262626" stroke-width="1.07967"/>
  </mask>
  <g mask="url(#mask0_3200_3063)">
  <path d="M21.5005 0.000270908C17.2482 0.000270908 13.0914 1.26122 9.55573 3.62367C6.02008 5.98612 3.26436 9.34396 1.63708 13.2726C0.00979583 17.2012 -0.415965 21.5241 0.413617 25.6947C1.2432 29.8653 3.29085 33.6962 6.29768 36.703C9.30451 39.7099 13.1355 41.7575 17.306 42.5871C21.4766 43.4167 25.7996 42.9909 29.7282 41.3636C33.6568 39.7364 37.0146 36.9806 39.3771 33.445C41.7395 29.9093 43.0005 25.7525 43.0005 21.5002C43.0049 18.6756 42.4518 15.8778 41.3729 13.2673C40.294 10.6568 38.7106 8.28487 36.7132 6.28752C34.7159 4.29018 32.344 2.70667 29.7335 1.62778C27.1229 0.548883 24.3251 -0.00418969 21.5005 0.000270908Z" fill="#0C5273"/>
  <path d="M37.0075 37.7012C36.9897 37.9359 36.8842 38.1554 36.712 38.316C36.5398 38.4765 36.3135 38.5664 36.078 38.5677L20.2293 46.9174L5.94019 38.544C5.70476 38.5427 5.47841 38.4529 5.30619 38.2923C5.13397 38.1318 5.0285 37.9123 5.0107 37.6775C5.0107 37.4885 4.50657 32.3841 7.8701 30.6984C8.77614 30.2915 9.71403 29.9595 10.6743 29.7059C13.0375 28.9576 15.9677 28.0202 16.464 26.2794C16.4027 25.6275 16.1255 25.0148 15.6763 24.5385C14.4317 23.2939 12.9981 19.7414 12.9981 16.2518V16.1967C12.9981 16.0076 13.3762 11.0844 16.1489 9.03638C17.498 7.93112 19.2031 7.35436 20.9461 7.41369H21.0091C22.7544 7.33874 24.4648 7.91733 25.8062 9.03638C28.6026 11.0844 28.9571 16.0076 28.9571 16.1967V16.2518C28.9571 19.7414 27.5865 23.2939 26.2789 24.5385C25.8555 25.0317 25.5821 25.6358 25.4912 26.2794C25.9874 28.0202 28.9177 28.9576 31.2808 29.7059C32.2415 29.9583 33.1795 30.2902 34.0851 30.6984C37.5116 32.3841 37.0705 37.4885 37.0075 37.6775V37.7012Z" fill="#F1F3F3"/>
  </g>
</svg>

{%- comment -%}
<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-account" fill="none" viewBox="0 0 18 19">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
</svg>
{%- endcomment -%}