<svg width="33" height="45" viewBox="0 0 33 45" fill="none" xmlns="http://www.w3.org/2000/svg" class="{{class}} no-tooltips">
    <title>Shopping bag icon</title>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.94338 9.03369H31.39L32.9349 42.1341C32.9349 43.679 32.0698 45 31.0038 45H2.32189C1.2636 45 0.398438 43.7177 0.398438 42.1341L1.94338 9.03369Z" fill="#AC1229"/>
    <path d="M9.59082 13.1973V7.38062C9.59082 3.86587 12.6807 1 16.5431 1H16.798C20.614 1 23.7502 3.86587 23.7502 7.38062V13.1973" stroke="#8E3542" stroke-width="1.4"/>
    <path d="M23.7489 17.0675C24.9392 17.0675 25.9041 16.1026 25.9041 14.9123C25.9041 13.722 24.9392 12.7571 23.7489 12.7571C22.5587 12.7571 21.5938 13.722 21.5938 14.9123C21.5938 16.1026 22.5587 17.0675 23.7489 17.0675Z" fill="white"/>
    <path d="M9.58977 17.0675C10.78 17.0675 11.745 16.1026 11.745 14.9123C11.745 13.722 10.78 12.7571 9.58977 12.7571C8.39948 12.7571 7.43457 13.722 7.43457 14.9123C7.43457 16.1026 8.39948 17.0675 9.58977 17.0675Z" fill="white"/>
    <path opacity="0.42" fill-rule="evenodd" clip-rule="evenodd" d="M1.67188 44.4437H30.6009C31.582 44.6368 32.4858 43.5012 32.4935 42.5665L31.721 27.2021C31.5511 20.891 31.721 24.7765 30.825 26.2674C29.5318 28.6771 28.0163 30.9606 26.2983 33.0883C24.4724 35.2929 22.2735 37.1598 19.8018 38.6038C17.1351 39.9568 14.3756 41.1185 11.5441 42.0799C9.57723 42.8033 7.56754 43.4044 5.52651 43.8798C4.26666 44.2108 2.97376 44.4 1.67188 44.4437Z" fill="#4D4D4D"/>
</svg>
