{{ 'component-cart-dawn.css' | asset_url | stylesheet_tag }}
{% unless template contains 'cart' %}
	<div class="modal-mini-cart js-mini-cart" ></div>
	<div class="modal-mini-cart__overlay js-close-minicart"></div>
{% endunless %}
