<form id="ContactFooter" class="footer__newsletter newsletter-form" action="https://manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="https://manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
<input type="hidden" name="g" value="{{ list_id }}">
<input type="hidden" name="$fields" value="$consent">
<input type="hidden" name="$list_fields" value="$consent">
<div class="newsletter-form__field-wrapper">
  <div class="field">
    <input
      id="NewsletterForm--{{ section.id }}"
      type="email"
      class="field__input"
      aria-required="true"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="email"
      placeholder="{{ 'newsletter.label' | t }}"
      required
    >
    <button type="submit" name="commit" class="newsletter-form__button field__button" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
      {% render 'icon-arrow-right' %}
    </button>
  </div>
  <div class="klaviyo_messages">
    <div class="success_message newsletter__success" style="display:none;"></div>
    <div class="error_message newsletter__message-error" style="display:none;"></div>
  </div>
</div>
</form>

<div class="klaviyo-form-NFKMMC"></div>
<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=HByEmL"></script>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
