{%- assign wishlist-id = product.id -%}
{%- assign wishlist-variant = product.variants.first.id -%}

<div class="product-wishlist">
  <div class="btn-wishlist" id="smartwishlist" data-product="{{ wishlist-id }}" data-variant="{{ wishlist-variant }}">
    <span class="btn-wishlist__icon">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.21759 1.84891C1.92439 1.08818 2.86819 0.707031 3.81079 0.707031L3.81073 0.707048C4.75333 0.707048 5.69148 1.0882 6.39824 1.84892L7.00011 2.4958L7.60199 1.85455C9.01559 0.333097 11.3692 0.333097 12.7827 1.85455C14.1961 3.376 14.1961 5.7949 12.7827 7.31635C11.8994 8.26717 11.0167 9.21846 10.1339 10.1697C9.2208 11.1538 8.30766 12.1378 7.39394 13.1214C7.29174 13.232 7.14795 13.2948 6.99737 13.2948C6.84677 13.2948 6.70304 13.232 6.6008 13.1214V13.1214L1.21759 7.31071C-0.193988 5.78836 -0.195863 3.37036 1.21759 1.84891Z" fill="#AC1229"/>
      </svg>
    </span>
    <span>{{ btn_wishlist }}</span>
  </div>
</div>
