{{ 'section-statistics-fact.min.css' | asset_url | stylesheet_tag }}

<section class="statistics-fact-section background-medium-blue">
   <h2 class="statistics-fact-section__title">{{ section.settings.title }}</h2>
   <div class="statistics-fact-section__content">
      {% for block in section.blocks %}
         <div class="statistics-fact">
            <div class="statistics-fact__value">{{ block.settings.value }}</div>
            <p class="statistics-fact__label">{{ block.settings.label }}</p>
         </div>
      {% endfor %}
   </div>
</section>

{% schema %}
   {
      "name": "Statistics Fact",
      "settings": [
         {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "The facts about sierrea loene"
         }
      ],
      "blocks": [
         {
            "name": "Statistics",
            "type": "statistics",
            "settings": [
               {
                  "id": "label",
                  "type": "text",
                  "label": "Label",
                  "default": "Infant Mortality Rate"
               },   
               {
                  "id": "value",
                  "type": "text",
                  "label": "Value",
                  "default": "15.8%"
               }
            ]
         }
      ],
      "presets": [
         {
            "name": "Statistics Fact",
            "blocks": [
               {
                  "type": "statistics"
               },
               {
                  "type": "statistics"
               },
               {
                  "type": "statistics"
               },
               {
                  "type": "statistics"
               },
               {
                  "type": "statistics"
               },
               {
                  "type": "statistics"
               }
            ]
         }
      ]
   }
{% endschema %}