

.column-richtext_top__heading{
    font-family: var(--font-default);
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 59px;

    @media (max-width: 767px) {
        font-size: 32px;
        line-height: 1.2;
    }
}

.column-richtext_top__content{
    font-size: 16px;
    line-height: 24px;
    color: #484e57;
    margin-bottom: 40px;
}

.column-richtext .column-richtext_item{
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    column-gap: 70px;
    padding: 60px 0;
    border-bottom: 1px solid rgba(var(--color-foreground), 0.2);

    &:last-of-type{
        border-bottom: 0px;
        padding-bottom: 0;
    }

    &__title{
        font-family: var(--font-default);
        margin-bottom: 24px;
        font-size: 24px;
        line-height: normal;
        font-weight:700;
        text-transform: none;
        color: rgba(var(--color-foreground), 1);
    }

    &__richtext{
        font-size: 16px;
        line-height: 24px;
        color: #484e57;
        p{
            margin: 0;
        }
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        column-gap: 0;
        padding: 30px 0;
        
        &:last-of-type{
            border-bottom: 1px solid rgba(var(--color-foreground), 0.2);
            padding-bottom: 30px;
        }

        &__title{
            font-family: var(--font-default);
            margin-bottom: 24px;
            font-size: 24px;
            line-height: normal;
            font-weight:700;
            text-transform: none;
            color: rgba(var(--color-foreground), 1);
        }
    
        &__richtext{
            font-size: 16px;
            line-height: 24px;
            color: #484e57;
            p{
                margin: 0;
            }
        }
    }
}

.column-richtext--2{
    .column-richtext_top{
        margin-bottom: 150px;
    }

    .column-richtext_item{
        padding: 0 85px;
        border-right: 1px solid rgba(var(--color-foreground), 0.2);
    
        &:last-of-type{
            border-right: 0px;
            padding-right: 0;
        }

        &:first-of-type{
            padding-left: 0;
        }
    
        &__title{
            font-family: var(--font-default);
            margin-bottom: 24px;
            font-size: 24px;
            line-height: normal;
            font-weight:700;
            text-transform: none;
            color: rgba(var(--color-foreground), 1);
        }
    
        &__richtext{
            font-size: 16px;
            line-height: 24px;
            color: #484e57;
            p{
                margin: 0;
            }
        }
    }

    .column-richtext{
        &__blocks{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 100px;
        }
    }

    @media (max-width: 1023px) {
        .column-richtext_item{
            padding: 0 50px;
        }
    
        .column-richtext{
            &__blocks{
                grid-template-columns: 1fr;
                margin-bottom: 60px;
            }
        }

        .column-richtext_top{
            margin-bottom: 50px;
        }
    }

    @media (max-width: 767px) {
        .column-richtext_item{
            padding: 30px 0;
            border-bottom: 1px solid rgba(var(--color-foreground), 0.2);
            border-right: 0;
        }
    
        .column-richtext{
           
        }
    }
}