@media (min-width: 750px) {
  .image-with-text__grid {
    display: grid;
    column-gap: 125px;
    grid-template-columns: 1fr 1fr;
  }
  .image-with-text__grid--reverse .image-with-text__media-item{
      order: 2;
  }
  .image-with-text__grid--reverse .image-with-text__text-item{
    order:1;
    margin-left: auto;
  }
  .image-with-text__grid--reverse .image-with-text__media.media{
    margin-left: 0;
  }
  .image-with-text__content--middle{
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-self: center;
  }
  .image-with-text__content--bottom{
    justify-content: flex-end;
      align-self: flex-end;
  }
  .image-with-text__content--desktop-center>* {
      align-self: center;
      text-align: center;
  }
  .image-with-text__content--desktop-right>* {
      align-self: flex-end;
      text-align: right;
  }
  .image-with-text__text-item{
    max-width: 455px;
    width: 100%;
  }
  .image-with-text__media.media{
      margin-left: auto;
      width: 100%;
  }
  .image-with-text__media-item{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-self: center;
  }
  .image-with-text__media.placeholder{
    min-width: 355px;
  }
}
.image-with-text__media-item{
  width: 100%;
}
.image-with-text__text--caption{
  margin: 0;
}
.image-with-text__text--caption + .image-with-text__heading{
  margin-top: 24px;
}
.image-with-text__heading{
  text-transform: none;
  font-family: "Merriweather";
  color: var(--color-base-text);
  margin-bottom: 0;
}
.image-with-text__heading span{
  font-family: "Merriweather Bold";
}
.image-with-text__text {
  font-size: 16px;
  line-height: 24px;
  max-width: 424px;
}
.image-with-text__content>*+* {
    margin-top: 28px;
}
.image-with-text__text + .button{
  margin-top: 48px;
}
@media (min-width: 750px) and (max-width: 1199px) {
  column-gap:60px;
}
@media (max-width: 749px) {
  .image-with-text__text-item{
    margin-top: 32px;
  }
  .image-with-text__content>*+* {
      margin-top: 20px;
  }
  .image-with-text__text+.button {
      margin-top: 40px;
  }
  .image-with-text__content--mobile-center{
    text-align: center;
  }
  .image-with-text__content--mobile-center>* {
    align-self: center;
    text-align: center;
  }
  .image-with-text__content--mobile-right>* {
    align-self: flex-end;
    text-align: right;
  }
 .image-with-text .image-with-text__media img{
    padding:  0 28px;
  }
  .image-with-text .image-with-text__media{
    padding-bottom: 0 !important;
  }
  .image-with-text .image-with-text__media img {
      position: static !important;
  }
}

.banner-with-text__grid {
  max-width: 1087px;
  margin-left: auto;
  margin-right: auto;
}

.banner-with-text__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px 96px;
}

.banner-with-text__heading {
  text-transform: none;
  color: #484E57;
  margin-bottom: 32px;
}

.banner-with-text__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #484E57;
  margin-bottom: 20px;
}

.banner-with-text__sub-heading {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0C5273;
  font-family: var(--my-font);
  margin-bottom: 4px;
}

.banner-with-text__icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 2px;
}

.gift-cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding: 16px;
  display: none;
}

.gift-cart-modal__container {
  max-width: 996px;
  background-color: #F1F3F3;
  box-shadow: 10px 2px 30px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
  padding: 32px 50px;
  position: relative;
  max-height: 90vh;
  overflow: auto;
}

.gift-cart-modal__close {
  position: absolute;
  top: 32px;
  right: 32px;
}

.gift-cart-modal__header {
  margin-top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 13px;
}

.gift-cart-modal__content {
  margin-top: 68px;
}

.gift-cart-modal__action {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}

.gift-cart-modal__btn {
  width: 100%;
  max-width: 285px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 10px;
  text-align: center;
}

.gift-cart-modal .button-light {
  background-color: transparent;
  color: #484E57;
  border-width: 2px;
}

.gift-cart-modal__product {
  display: grid;
  grid-gap: 20px;
  margin-bottom: 47px;
  box-sizing: inherit;
}

.gift-cart-modal .card-product__picture {
  box-shadow: none;
}

.gift-cart-modal__label {
  background-color: #8ED1CB;
  top: 24px;
}

.gift-cart-modal__label::before {
  border-top-color: #8ED1CB;
}

.gift-cart-modal__label::after {
  border-bottom-color: #8ED1CB;
}

@media (max-width: 767px) {
  .banner-with-text__grid {
    grid-template-columns: 1fr;
  }

  .image-with-text__content {
    text-align: center;
  }

  .gift-cart-modal__product {
    display: flex;
    padding-left: 0;
    grid-gap: 0;
  }

  .gift-cart-modal__container {
    margin-top: 27px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .gift-cart-modal__header {
    font-size: 14px;
    line-height: 18px;
  }

  .gift-cart-modal__content {
    margin-top: 50px;
  }

  .gift-cart-modal__action {
    margin-top: 28px;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 0;
    margin-bottom: 18px;
  }

  .gift-cart-modal .custom-swiper-pagination {
    margin-top: 0;
  }

  .gift-cart-modal__product {
    margin-bottom: 25px;
  }

  .gift-cart-modal__btn {
    margin-bottom: 16px;
  }
}

@media (max-width: 899px) and (min-width: 768px) {
  .banner-with-text__grid {
    grid-gap: 40px;
  }
}
