.search:before {
  content: '';
  background-color: rgba(0,0,0,0);
  transition: background-color .25s;
}
.search__input.field__input {
  padding: 16px 24px 16px 98px;
  border-radius: 6px;
  background: #F1F3F3;
  color: rgba(38, 38, 38, 0.5);
  border-color: #F1F3F3;
  box-shadow: none;
  height: 52px;
  display: flex;
  align-self: center;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--font-default);
}
.search .field::after,
.search .field::before{
  content: none !important;
}
.search .field:focus-visible{
  border: none;
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}
.search__input.field__input::-moz-placeholder{
  color: rgba(38, 38, 38, 1);
  opacity: 1;
}

.search__input.field__input::-webkit-input-placeholder {
 color: rgba(38, 38, 38, 1);
 opacity: 1;
}

.search__input.field__input:-ms-input-placeholder { 
  color: rgba(38, 38, 38, 1);
  opacity: 1;
}

.search__input.field__input::placeholder {
  color: rgba(38, 38, 38, 1);
  opacity: 1;
}
.search__button {
  left: 0;
  top: var(--inputs-border-width);
  height: 52px;
  width: 74px;
  background: #0C5273;
  border-radius: 6px 0 0px 6px;
  transition: box-shadow .25s;
}
.search__button:hover, .search__button:focus {
  box-shadow: rgba(0 0 0 / 25%) 0px 0px 10px 2px inset;
}
.search__button .icon {
  height: 1.8rem;
  width: 1.8rem;
  color: #fff;
  transition: transform .25s ease-in;
}
.search__button:hover .icon, .search__button:focus .icon {
  transform: translate(0px, 1px);
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media(max-width: 749px){
  .search__input.field__input{
    height: 40px;
    padding-left: 60px;
  }
  .search__button{
    width: 40px;
    height: 40px;
  }
  .search__button .icon{
    width: 14px;
    height: 18px;
  }
}