header-drawer {
  justify-self: start;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 990px) {
  header-drawer {
    display: none;
  }
}

.menu-drawer-container {
  display: flex;
}

.header-bottom .page-width {
  width: 100%;
}

.list-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-menu--inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-menu__item,
.header__menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.list-menu__item--link {
  text-decoration: none;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@media screen and (min-width: 750px) {
  .list-menu__item--link {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}
.header__inline-menu .item-parent:hover {
  color: rgba(var(--color-navigation-text), 1);
}
.header__inline-menu .item-parent span {
  position: relative;
  font-family: var(--font-heading);
}
.header__inline-menu .item-parent span::before {
  content: "";
  height: 3px;
  width: 0;
  background-color: rgba(var(--color-secondary-background));
  position: absolute;
  bottom: -14px;
  transition: all 0.5s ease-in-out;
}
.header__inline-menu .list-menu--inline > li:hover .header__menu-item > span::before,
.header__inline-menu .list-menu--inline > li .header__menu-item.item-parent.header__active-menu-item > span::before {
  width: 100%;
}
.header__inline-menu .list-menu--inline > li .header__menu-item.item-parent {
  transition: color .25s;
}
.header__inline-menu .list-menu--inline > li:hover .header__menu-item.item-parent,
.header__inline-menu .list-menu--inline > li .header__menu-item.item-parent.header__active-menu-item {
  color: rgba(var(--color-secondary-background));
}
.header__submenu .header__submenu .header__menu-item {
  color: rgb(var(--color-light-text));
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
}

.header__submenu.megamenu {
  /* width: auto; */
  /* top: 100%; */
  transition: 0.4s linear 0.5s, opacity 0.5s;
  pointer-events: none;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  background-color: rgb(var(--color-basic-background));
}

.header__submenu.megamenu > div {
  display: flex;
  justify-content: space-between;
  column-gap: 128px;
}

.item-has-megamenu:hover .header__submenu.megamenu,
.item-has-megamenu:focus-within .header__submenu.megamenu {
  opacity: 1;
  visibility: visible;
  /* top: 100%; */
  transition: visibility 0s linear 0s, opacity 0.3s, top 0.3s;
  pointer-events: all;
}
.p-relative {
  position: relative;
}
.megamenu-image-heading {
  margin-bottom: 14px;
}

.megamenu .image-container-item {
  display: block;
}

.megamenu .image-container-item .image img {
  width: 100%;
  height: auto;
  float: left;
}

.megamenu .child-link .header__menu-item {
  font-size: 14px;
  line-height: 20px;
  color: rgb(var(--color-light-text));
  text-transform: capitalize;
  padding: 0;
}
.megamenu .image-container-wrapper .image {
  float: left;
  background: #fff;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 25%) 0px 2px 9px;
}
.megamenu .image-container-wrapper .image img {
  transform: scale(1);
  transition: transform .25s;  
}
.megamenu .image-container-wrapper .image:hover img {
  transform: scale(1.025);
}
.not-link {
  cursor: initial !important;
  pointer-events: none;
}
.megamenu .image-container-wrapper .text-container {
  padding-top: 16px;
  text-decoration: none;
  color: #484e57;
  display: block;
  max-width: 199px;
  float: left;
}
.megamenu .image-container-wrapper .text-container:hover {
  color: rgb(var(--color-link-hover));
}

.megamenu .image-container .text-container:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.megamenu .text-label {
  color: rgb(var(--color-light-text));
  position: absolute;
  top: 12px;
  left: 0;
  padding: 4px 16px 3px;
  display: flex;
  align-items: center;
  background: #e2e43d;
}
.megamenu .text-label::before {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 15px solid #e2e43d;
  top: 0;
  right: -14px;
  position: absolute;
}
.megamenu .text-label::after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #e2e43d;
  bottom: 0;
  right: -14px;
  position: absolute;
}
.child-title {
  font-size: 12px;
  line-height: 21px;
  color: rgba(var(--color-heading), 1);
  text-decoration: none;
  padding: 0 0 16px;
  display: inline-block;
  text-transform: uppercase;
  font-family: var(--font-heading);
}
.megamenu .list-menu li {
  padding-bottom: 14px;
}
.megamenu .list-menu li:last-child {
  padding-bottom: 0;
}
.image-container-item {
  width: 100%;
}
.icon-bag-desktop {
  display: none;
}

.col-ds__100 {
  flex: 1 1 100%;
  max-width: 100%;
}

.col-ds__50 {
  flex: 1 1 50%;
  max-width: 50%;
}

.col-ds__33 {
  flex: 1 1 33.33%;
  max-width: 33.33%;
}

.col-ds__25 {
  flex: 1 1 25%;
  max-width: 25%;
}

.col-ds__20 {
  flex: 1 1 20%;
  max-width: 20%;
}
.d-flex__space-between {
  display: flex;
  justify-content: space-between;
}

.d-flex__end {
  display: flex;
  justify-content: end;
}
.image-container-wrapper.d-flex__space-between,
.image-container-wrapper.d-flex__end,
.image-container-wrapper.d-flex {
  column-gap: 20px;
}
.d-flex {
  display: flex;
}

@media (min-width: 990px) {
  .header__submenu.megamenu.list-menu {
    padding: 56px 0;
  }

  .megamenu .image-container-wrapper.image-no-slide {
    column-gap: 20px;
  }

  .col-ds__100 {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .col-ds__50 {
    flex: 1 1 50%;
    max-width: 50%;
  }

  .col-ds__33 {
    flex: 1 1 33.33%;
    max-width: 33.33%;
  }

  .col-ds__25 {
    flex: 1 1 25%;
    max-width: 25%;
  }

  .col-ds__20 {
    flex: 1 1 20%;
    max-width: 20%;
  }
  .d-flex__space-between {
    display: flex;
    justify-content: space-between;
  }

  .d-flex__end {
    display: flex;
    justify-content: end;
  }
  .image-container-wrapper.d-flex__space-between,
  .image-container-wrapper.d-flex__end,
  .image-container-wrapper.d-flex {
    column-gap: 20px;
  }
  .d-flex {
    display: flex;
  }
  .megamenu .mega-menu-wrapper .d-flex {
    column-gap: 50px;
  }
  .megamenu
    .mega-menu-wrapper
    + .mega-menu-image
    .image-container-wrapper.image-no-slide {
    justify-content: end;
  }
  .megamenu .mega-menu-wrapper + .mega-menu-image {
    position: relative;
  }
  .megamenu .mega-menu-wrapper + .mega-menu-image::before {
    content: "";
    height: 100%;
    width: 1px;
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: -64px;
  }
}

@media (max-width: 989px) {
  .menu-drawer__inner-submenu .megamenu {
    background-color: rgb(var(--color-background2));
    padding: 32px 0 50px;
    margin-top: -1px;
  }
  .child-title {
    padding-bottom: 14px;
  }
  .megamenu-image-heading {
    font-size: 12px;
    line-height: 21px;
  }
  /* .last-level-menu + .last-level-menu {
    margin-top: 28px;
  } */
  .mega-menu-image {
    margin-top: 40px;
    padding: 40px 20px 0 20px;
  }
  .megamenu .mega-menu-wrapper + .mega-menu-image:before {
    content: none;
  }
  .megamenu .page-width {
    padding: 0;
  }
  .mega-menu-wrapper {
    padding: 0 20px;
  }
  .megamenu .mega-menu-wrapper + .mega-menu-image {
    border-top: 1px solid #ccc;
  }
  .megamenu .image-container-item .image img,
  .megamenu .image-container-item .image {
    height: 100%;
    width: 100%;
  }

  .megamenu-image-container {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .image-container-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    justify-content: start;
  }

  .image_item {
    scroll-snap-align: start;
    min-width: 217px;
  }
}

.header-icon__line {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.header-icon__line-item {
  position: absolute;
  background-color: #262626;
  width: 100%;
  left: 0;
  height: 1.4px !important;
  top: 10px;
  transition: all 0.3s;
}

.header-icon__line-item::before,
span.header-icon__line-item::after {
  content: "";
  position: absolute;
  background-color: #262626;
  width: 100%;
  height: 1.4px;
  transition: all 0.3s;
}

.header-icon__line-item::after {
  top: -7px;
}

.header-icon__line-item::before {
  top: 7px;
}

.menu-opening .header__icon span {
  background-color: transparent;
}

.menu-opening .header-icon__line-item::after {
  top: -1px;
  transform: rotate(45deg);
}

.menu-opening .header-icon__line-item::before {
  top: -1px;
  transform: rotate(-45deg);
}

@media (max-width: 1255px) and (min-width: 990px) {
  .header-bottom .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .header__menu-item {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 989px) {
  .cart-count-bubble {
    top: 50%;
  }
}

@media (min-width: 750px) {
  .icon-bag-desktop {
    display: block;
  }
  .icon-bag-mb {
    display: none;
  }
  .header__submenu.megamenu .page-width {
    padding-left: 120px;
    padding-right: 127px;
  }
}
.header-logo img {
  height: auto;
}

.header__icon--account img,
.header__icon--cart img {
  width: auto;
}
@media (max-width: 749px) and (min-width: 375px) {
  .header-logo img {
    max-width: 192px;
  }
  .menu-drawer-container.menu-opening .header__icon--menu .icon {
    width: 19px;
    height: 18px;
  }
  .header-logo {
    margin-left: 5px;
  }
  .megamenu .text-label {
    font-size: 12px;
    line-height: 21px;
  }
  .cart-count-bubble {
    top: 20px;
    right: 0px;
    font-size: 11px;
    transform: translateX(-50%);
  }
}

@media (max-width: 374px) {
  .header-logo img {
    max-width: 150px;
  }

  .cart-count-bubble {
    transform: translateY(-25%);
    right: 4px;
  }

  .header__icon:not(.header__icon--summary),
  .header__icon span:not(span.icon-bag-desktop),
  .header__icon span:not(span.icon-bag-mb) {
    width: 25px;
  }
}
