.modal-mini-cart {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-width: 375px;
  z-index: 1004;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  min-height: 100vh;
}

.open-minicart .modal-mini-cart {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.mini-cart__header {
  display: flex;
  align-items: center;
  padding: 17px 20px 17px 14px;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.mini-cart__close {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 14px;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
}

.mini-cart__inner {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #262626;
  font-family: var(--my-font);
}

.mini-cart__header-title {
  padding-right: 5px;
}

.mini-cart__icon-cart {
  min-width: 21px;
  min-height: 28px;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='29' viewBox='0 0 21 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.983145 6.1123H19.7219L20.705 27.1762C20.705 28.1593 20.1545 28.9999 19.4761 28.9999H1.22401C0.55056 28.9999 0 28.1839 0 27.1762L0.983145 6.1123Z' fill='%23AC1229'/%3E%3Cpath d='M5.84961 8.76194V5.06039C5.84961 2.82374 7.8159 1 10.2738 1H10.436C12.8644 1 14.8601 2.82374 14.8601 5.06039V8.76194' stroke='%238E3542' stroke-width='1.4'/%3E%3Cpath d='M14.8593 11.2249C15.6167 11.2249 16.2308 10.6109 16.2308 9.85342C16.2308 9.09597 15.6167 8.48193 14.8593 8.48193C14.1018 8.48193 13.4878 9.09597 13.4878 9.85342C13.4878 10.6109 14.1018 11.2249 14.8593 11.2249Z' fill='white'/%3E%3Cpath d='M5.84903 11.2249C6.60648 11.2249 7.22051 10.6109 7.22051 9.85342C7.22051 9.09597 6.60648 8.48193 5.84903 8.48193C5.09157 8.48193 4.47754 9.09597 4.47754 9.85342C4.47754 10.6109 5.09157 11.2249 5.84903 11.2249Z' fill='white'/%3E%3Cpath opacity='0.42' fill-rule='evenodd' clip-rule='evenodd' d='M0.810547 28.6458H19.2199C19.8442 28.7687 20.4194 28.046 20.4243 27.4512L19.9327 17.6739C19.8246 13.6577 19.9327 16.1303 19.3625 17.0791C18.5396 18.6125 17.5752 20.0657 16.4819 21.4196C15.3199 22.8226 13.9206 24.0106 12.3478 24.9295C10.6508 25.7905 8.89472 26.5297 7.09285 27.1416C5.84123 27.6019 4.56234 27.9844 3.26349 28.2869C2.46178 28.4976 1.63902 28.618 0.810547 28.6458Z' fill='%234D4D4D'/%3E%3C/svg%3E%0A");
}

.mini-cart__icon-count {
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  color: #fff;
  font-family: var(--my-font);
  padding-top: 6px;
  text-transform: uppercase;
}

.mini-cart__list {
  padding: 20px 15px;
  max-height: calc(100vh - 309px);
  overflow: auto;
}
.mini-cart__progress + .mini-cart__form .mini-cart__list {
  max-height: calc(100vh - 400px);
}

.mini-cart__item {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 16px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
  margin-bottom: 16px;
  position: relative;
}

.mini-cart__picture {
  position: relative;
  padding-top: 100%;
}

.mini-cart__link {
  display: block;
}

.mini-cart__image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.mini-cart__link.mini-cart__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-text);
  font-family: var(--my-font);
  text-decoration: none;
  margin-bottom: 5px;
  padding-right: 30px;
}

.mini-cart__gift-text a {
  font-size: 10px;
  line-height: 14px;
}

.mini-cart__remove {
  position: absolute;
  top: 0;
  right: 5px;
  width: 30px;
  height: 30px;
  text-align: right;
}

.mini-cart__variants {
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--color-text);
  margin-bottom: 8px;
  font-family: var(--my-font);
}

.mini-cart__btn {
  width: 35px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: var(--color-link-text);
  cursor: pointer;
}

.mini-cart__btn svg {
  width: 13px;
  height: 13px;
}

.cart__btn-minus {
  border-radius: 3px 0 0 3px;
}
.cart__btn-plus {
  border-radius: 0 3px 3px 0;
}
.mini-cart__qty {
  display: flex;
  width: 103px;
  align-items: center;
  margin-top: 10px;
}

.mini-cart__qty-input {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0;
  border: 1px solid #ccc;
  color: var(--color-text);
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  font-family: var(--my-font);
}

.mini-cart__qty-input::-webkit-outer-spin-button,
.mini-cart__qty-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mini-cart__qty-input:focus {
  outline: none;
  box-shadow: none;
}

.mini-cart__group {
  display: flex;
  align-items: flex-end;;
  justify-content: space-between;
}

.mini-cart__detail-price {
  text-align: right;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  font-family: var(--my-font);
  color: var(--color-link-text);
}

.mini-cart__price {
  color: var(--color-text);
}

.mini-cart__bottom {
  /* box-shadow: 0px -6px 24px rgba(0, 0, 0, 0.1); */
  padding: 20px 16px;
  border-top: 1px solid #ccc;
}

.mini-cart-bottom__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  flex-wrap: wrap;
}

.mini-cart-bottom__text {
  text-transform: uppercase;
  color: var(--color-text);
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  font-family: var(--my-font);
}

.mini-cart__checkout-text {
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #262626;
  font-family: var(--my-font);
  text-align: center;
  width: 100%;
  margin-top: 8px;
}

.mini-cart__label {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--color-text);
  font-family: var(--my-font);
  cursor: pointer;
}

.mini-cart__checkout-btn {
  width: 100%;
}

.mini-cart-bottom__total-price {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-link-text);
  font-family: var(--my-font);
}

.mini-cart__gift-add {
  width: 76px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #AC1229;
  border-radius: 90px;
  margin-right: 12px;
  padding-bottom: 2px;
}

.mini-cart__gift-text {
  width: calc( 100% - 88px);
  padding-bottom: 3px;
}

.mini-cart__progress {
  padding: 20px 16px;
  border-bottom: 1px solid #ccc;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text);
  font-family: var(--my-font);
}

.mini-cart__progress-bar {
  height: 10px;
  background-color: #F1F3F3;
  margin-top: 12px;
}

.mini-cart__progress-percent {
  display: block !important;
  background-color: #AC1229;
  height: 100%;
  max-width: 100%;
}

.mini-cart__progress-text a {
  font-size: 10px;
  line-height: 14px;
}

.mini-cart__checkout-btn:disabled {
  background-color: #777;
  border-color: #777;
  color: #ccc;
  opacity: 1;
}

#shopify-section-cart-dawn {
  height: 100%;
}

.mini-cart {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mini-cart__form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.product-donate {
  background-color: #E4F1F5;
  padding: 16px;
  font-family: var(--my-font);
  position: relative;
}

.product-donate__header {
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--color-link-text);
  margin-bottom: 6px;
}

.product-donate__more {
  font-size: 10px;
  line-height: 16px;
  color: var(--color-text);
}

.product-donate__desc {
  font-family: var(--font-2);
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--color-header);
  margin-bottom: 6px;
  display: none;
}

.product-donate__desc p {
  margin-top: 0;
}

.product-donate__list {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 12px;
}

.product-donate__label{
  padding: 6px 10px;
  font-size: 12px;
  line-height: 21px;
  font-family: var(--my-font);
  color: var(--color-text);
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  cursor: pointer;
  display: block;
}

.product-donate__item:first-child .product-donate__label {
  border-left: 0;
  border-radius: 4px 0 0 4px;
}

.product-donate__item .product-donate__label:hover,
.product-donate__input:checked + label {
  background-color: #0C5273;
  color: #fff;
}

.product-donate__item:last-child .product-donate__label {
  border-right: 0;
  border-radius: 0 4px 4px 0;
}

.product-donate__message {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-header);
  font-family: var(--font-2);
}

.product-donate__remove {
  position: absolute;
  right: 20px;
  top: 16px;
}

.mini-cart__field {
  cursor: pointer;
}

.gift-include:checked + label .mini-cart__gift-add {
  background-color: #AC1229;
  color: #fff
}

.cart__btn-disabled {
  background: #F1F3F3;
  cursor: no-drop;
}

.mini-cart-empty {
  padding: 24px 16px;
  text-align: center;
}

.mini-cart-empty__icon {
  margin-bottom: 27px;
}

.mini-cart-empty__title {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0C5273;
  font-family: var(--my-font);
  margin-bottom: 27px;
}

.mini-cart-empty__btn {
  display: block;
  text-decoration: none;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #AC1229;
  margin-bottom: 20px;
  padding: 13px 15px;
  border: 2px solid;
  border-radius: 90px;
  font-family: var(--my-font);
}

.mini-cart-empty .mini-cart__progress {
  border: 0;
  padding: 0;
  margin-bottom: 65px;
}

.modal-mini-cart__overlay {
  transition: all .3s ease;
}

.open-minicart .modal-mini-cart__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: block;
  z-index: 11;
  min-height: 100vh;
}

.shopify-section-header-hidden .modal-mini-cart {
  top: 100%;
}

.open-minicart .shopify-section-header-hidden .modal-mini-cart__overlay {
  top: 100%;
}

.modal-cart-gift {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1111;
  font-family: var(--my-font);
  display: none;
  padding: 20px;
}

.mini-cart__gift-text p {
  margin: 0;
}

.mini-cart__field {
  margin-bottom: 12px;
}

.modal-cart-gift__container {
  background-color: #fff;
  max-width: 700px;
  margin: 50px auto;
  padding: 32px 24px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: relative;
  max-height: 80vh;
  overflow: auto;
}

.modal-cart-gift__header-text {
  font-size: 28px;
  line-height: 36px;
  color: #0C5273;
  max-width: 550px;
  margin-bottom: 10px;
}

.modal-cart-gift__close {
  position: absolute;
  right: 24px;
  top: 32px;
  cursor: pointer;
}

.modal-cart-gift__header {
  margin-bottom: 32px;
}

.modal-cart-gift__label {
  display: block;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #0C5273;
  margin-bottom: 5px;
}

.modal-cart-gift__input {
  width: 100%;
  padding: 12px 16px;
  min-height: 111px;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  line-height: 24px;
  color: #484E57;
  font-family: var(--font-2);
  margin-bottom: 24px;
}

.modal-cart-gift__btn {
  text-transform: uppercase;
}

.modal-cart-gift__inner {
  margin-top: 32px;
}

.modal-cart-gift__hint {
  font-size: 14px;
  line-height: 20px;
  color: #484E57;
  font-family: var(--font-2);
  margin-bottom: 24px;
}

.modal-cart-gift__delay {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #484E57;
  font-family: var(--font-2);
  align-items: center;
  margin-bottom: 24px;
}

.modal-cart-gift__checked {
  border: 2px solid #484E57;
  width: 16px !important;
  height: 16px;
  margin-left: 0;
}

.modal-cart-gift__date {
  border-radius: 3px;
  width: 100%;
  border: 1px solid #ccc;
  height: 49px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #484E57;
  outline: none !important;
  box-shadow: none !important;
  font-family: var(--font-2);
  padding: 12px 16px;
}

.modal-cart-gift__btn-icon,
.btn-donation-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.3rem solid #eee;
  transform: translate(50%);
  animation: 1s ripple ease-out infinite;
  margin: auto;
  display: none;
  margin-top: -3px;
}

.cart-overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255,  .6);
  z-index: 999;
  display: none;
}

.cart-overlay .spinner {
  left: 0;
  right: 0;
  top: 40%;
  margin: auto;
  position: fixed;
  width: 96px;
  height: 96px;
  filter: invert(50%);
  -webkit-filter: invert(50%);
  color: #fff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1000;
}

.cart-overlay .spinner .ball {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  border-radius: 100%;
  background-color: currentColor;
  animation: ball-scale-multiple 1s 0s linear infinite;
  opacity: 0;
}

.cart-overlay .spinner .ball:nth-child(2) {
  animation-delay: .2s;
}

.cart-overlay .spinner .ball.ball:nth-child(3) {
  animation-delay: .4s;
}

.mini-cart__checkout-btn:not([disabled]) {
  animation-name: buttonPulse;
  animation-duration: 8s !important;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  transition: all ease-in-out 0.25s;
}

.mini-cart__product-option {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--color-text);
  margin-bottom: 3px;
  font-family: var(--my-font);
}

.mini-cart__product-option dd {
  margin-left: 5px;
}

.mini-cart__options {
  margin: 5px 0;
}

.insurance-costs.loading {
  min-width: 37px;
  min-height: 13px;
  background-color: #f5f5f5;
  color: transparent;
}

.modal-error {
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 550px;
  margin: auto;
  color: #842029;
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.5;
  z-index: 11;
}

.modal-error__close {
  position: absolute;
  right: 10px;
}

.modal-error__close svg {
  height: 12px;
}

.modal-error__close svg path {
  stroke: #842029;
}

.modal-error__message {
  padding-right: 20px;
}

@keyframes buttonPulse {
  9% {
    transform: none;
  }

  12% {
    transform: scale(1.01);
  }

  16% {
    transform: scale(.97);
  }

  20% {
    transform: scale(1.02);
  }

  24% {
    transform: scale(1);
  }
}

@keyframes ball-scale-multiple {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  5% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .mini-cart__link.mini-cart__title {
    font-size: 12px;
    line-height: 14px;
  }

  .mini-cart__checkout-btn {
    font-size: 12px;
  }

  .modal-cart-gift__header-text {
    font-size: 20px;
    line-height: 28px;
    padding-right: 30px;
  }

  .modal-cart-gift__header {
    margin-bottom: 12px;
  }

  .modal-cart-gift__close svg {
    width: 20px;
    height: 20px;
  }

  .modal-cart-gift__input {
    min-height: 88px;
  }
}
