$breakpoint: 824;
$bp-small: #{$breakpoint}px;
$bp-medium-up: #{$breakpoint + 1}px;

@media screen and (max-width: $bp-small) {
	.articles-wrapper .article {
		width: 100%;
	}
}

.article {
	display: flex;
	align-items: center;
}

.article.grid__item {
	padding: 0;
}

.main-blog__content-wrapper {
	position: relative;
	z-index: 2;
}

.grid--peek .article-card {
	box-sizing: border-box;
}

.blog-articles__article {
	filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));
	border-radius: 15px;

	.card-wrapper {
		width: 100%;
	}

	.card .card__inner {
		height: 0;
		padding-top: 100%;
		border-radius: 15px;

		.article-card__image-wrapper {
			border-radius: 15px;
		}
	}

	.card__information {
		padding-top: 24px;
		padding-bottom: 0;
	}
}

.article-card__image-wrapper > a {
	display: block;
}

.article-card__title {
	text-decoration: none;
	word-break: break-word;
}

.article-card__title a:after {
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.article-card__link.link {
	padding: 0;
}

.article-card__link {
	text-underline-offset: 0.3rem;
}

.article-card .card__heading {
	margin: 0;

	a {
		color: var(--color-text);
		font-family: var(--font-default);
		font-weight: 300;
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 8px;

		@media (max-width: $bp-small) {
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 0;
		}
	}

	&:hover a {
		color: var(--color-text);
		text-decoration: none;
	}
}

.article-card__info {
	color: var(--color-text);
	font-weight: 200;
	font-size: 12px;
	line-height: 21px;
	margin: 8px 0 14px;

	.circle-divider {
		color: var(--color-date);
	}

	@media (max-width: $bp-small) {
		font-size: 10px;
		line-height: 14px;
		margin-top: 0;
	}
}

.article-card__read-more {
	a {
		color: var(--color-accent);
		font-family: var(--font-heading);
		font-weight: 200;
		font-size: 15px;
		line-height: 24px;
		text-decoration: none;
		display: flex;
		align-items: center;
		grid-gap: 8px;
	}

	svg {
		width: 16px;
		height: 16px;
	}
}

.article-card__footer {
	letter-spacing: 0.1rem;
	font-size: 1.4rem;
}

.article-card__footer:not(:last-child) {
	margin-bottom: 1rem;
}

.article-card__footer:last-child {
	margin-top: auto;
}

.article-card__excerpt {
	width: 100%;
	margin-top: 1.2rem;
}

.article-card__link:not(:only-child) {
	margin-right: 3rem;
}

@media screen and (min-width: 990px) {
	.article-card__link:not(:only-child) {
		margin-right: 4rem;
	}
}

.article-card__image--small .ratio::before {
	padding-bottom: 11rem;
}

.article-card__image--medium .ratio::before {
	padding-bottom: 22rem;
}

.article-card__image--large .ratio::before {
	padding-bottom: 33rem;
}

@media screen and (min-width: $bp-medium-up) {
	.article-card__image--small .ratio::before {
		padding-bottom: 14.3rem;
	}

	.article-card__image--medium .ratio::before {
		padding-bottom: 21.9rem;
	}

	.article-card__image--large .ratio::before {
		padding-bottom: 27.5rem;
	}
}

@media screen and (min-width: 990px) {
	.article-card__image--small .ratio::before {
		padding-bottom: 17.7rem;
	}

	.article-card__image--medium .ratio::before {
		padding-bottom: 30.7rem;
	}

	.article-card__image--large .ratio::before {
		padding-bottom: 40.7rem;
	}
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
	.articles-wrapper.grid {
		margin: 0 0 5rem 0;
	}

	@media screen and (min-width: $bp-medium-up) {
		.articles-wrapper.grid {
			margin-bottom: 7rem;
		}
	}
}
