header-drawer {
    justify-self: start;
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
.header__inline-menu .item-parent:hover{
	color: rgba(var(--color-navigation-text), 1);
}
.header__inline-menu .item-parent span{
	position: relative;
	font-family: var(--font-heading);
}
.header__inline-menu .item-parent span::before{
	content: "";
	height: 3px;
	width: 0;
	background-color: rgba(var(--color-secondary-background));
	position: absolute;
	bottom: -15px;
	transition: all 0.5s ease-in-out;
}
.header__inline-menu .item-parent:hover span::before{
	width: 100%;
}
.header__submenu .header__submenu .header__menu-item{
	color: rgb(var(--color-light-text));
	font-size: 14px;
	line-height: 20px;
	text-transform: capitalize;
}

.header__submenu.megamenu {
	width: auto;
	opacity: 0;
	top: 100%;
	transition: .4s linear .5s, opacity .5s;
	pointer-events: none;
	left: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	background-color: rgb(var(--color-basic-background));
}

.header__submenu.megamenu > div {
	display: flex;
	justify-content: space-between;
	column-gap: 128px;
}

.item-has-megamenu:hover .header__submenu.megamenu {
	opacity: 1;
	visibility: visible;
	top: 100%;
	transition: visibility 0s linear 0s, opacity .3s, top .3s;
	pointer-events: all;
}
.p-relative{
	position: relative;
}
.megamenu-image-heading{
	margin-bottom: 14px;
}

.megamenu .image-container-item{
	display: block;
}

.megamenu .image-container-item .image img {
	width: 100%;
	height: auto;
	float: left;
	cursor: initial;
}

.megamenu .child-link .header__menu-item {
	font-size: 14px;
	line-height: 20px;
	color: rgb(var(--color-base-text));
	text-transform: capitalize;
	padding: 0;
}
.megamenu .image-container-wrapper .image{
	float: left;
}

.megamenu .image-container-wrapper .text-container {
	padding-top: 16px;
	text-decoration: none;
	color: #484E57;
	display: block;
	max-width: 199px;
	float: left;
}
.megamenu .image-container-wrapper .text-container:hover{
	color: rgb(var(--color-link-hover));
}

.megamenu .image-container .text-container:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
}
.megamenu .text-label{
	color: rgb(var(--color-light-text));
	position: absolute;
	top: 12px;
	left: 0;
	height: 28px;
	padding: 4px 16px 3px;
	display: flex;
	align-items: center;
	background: #E2E43D;
}
.megamenu .text-label::before{
	content: "";
	width: 0px;
  height: 0px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid #E2E43D;
  top: 0;
  right: -14px;
  position: absolute;
}
.megamenu .text-label::after{
	content: "";
	width: 0px;
  height: 0px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #E2E43D;
  bottom: 0;
  right: -14px;
  position: absolute;
}
.child-title {
	font-size: 12px;
	line-height: 21px;
	color: rgba(var(--color-heading),1);
	text-decoration: none;
	padding:0 0 16px;
	display: inline-block;
	text-transform: uppercase;
	font-family: var(--font-heading);
}
.megamenu .list-menu li{
	padding-bottom: 14px;
}
.megamenu .list-menu li:last-child {
	padding-bottom: 0;
}
.image-container-item{
	width: 100%;
}
@media (min-width:990px) {
	.header__submenu.megamenu.list-menu {
	  padding: 56px 0;
	}

	.megamenu .image-container-wrapper.image-no-slide {
		column-gap: 20px;
	}

	.col-ds__50 {
		flex: 1 1 50%;
		max-width: 50%;
	}

	.col-ds__33 {
		flex: 1 1 33.33%;
		max-width: 33.33%;
	}

	.col-ds__25 {
		flex: 1 1 25%;
		max-width: 25%;
	}

	.col-ds__20 {
		flex: 1 1 20%;
		max-width: 20%;
	}
	.d-flex__space-between {
		display: flex;
		justify-content: space-between;
	}

	.d-flex__end {
		display: flex;
		justify-content: end;
	}
	.image-container-wrapper.d-flex__space-between,
	.image-container-wrapper.d-flex__end, 
	.image-container-wrapper.d-flex{
		column-gap: 20px;
	}
	.d-flex{
		display: flex;
	}
	.megamenu .mega-menu-wrapper .d-flex {
		column-gap: 50px;
	}
	.megamenu .mega-menu-wrapper + .mega-menu-image .image-container-wrapper.image-no-slide  {
		justify-content: end;
	}
	.megamenu .mega-menu-wrapper + .mega-menu-image  {
		position: relative;
	}
	.megamenu .mega-menu-wrapper + .mega-menu-image::before {
		content: "";
		height: 100%;
		width: 1px;
		background-color: #ccc;
		position: absolute;
		top: 0;
		left: -64px;
	}

}
@media (max-width: 989px) {
	.menu-drawer__inner-submenu .megamenu{
		background-color: rgb(var(--color-background2));
		padding: 32px 0 50px;
	}
	.child-title {
		padding-bottom: 14px;
	}
	.megamenu-image-heading{
		font-size: 12px;
		line-height: 21px;
	}
	.last-level-menu + .last-level-menu {
		margin-top: 28px;
	}
	.mega-menu-wrapper + .mega-menu-image{
		margin-top: 40px;
		padding: 40px 0 0 20px;
	}
	.megamenu .mega-menu-wrapper+.mega-menu-image:before{
		content: none;
	}
	.megamenu .page-width{
		padding: 0;
	}
	.mega-menu-wrapper{
		padding: 0 20px;
	}
	.megamenu .mega-menu-wrapper+.mega-menu-image{
		border-top: 1px solid #ccc;
	}
	.megamenu .image-container-item .image img,
	.megamenu .image-container-item .image{
		height: 100%;
		width: 100%;
	}
}
