.newsletter-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
}

@media screen and (min-width: 750px) {
	.newsletter-form {
		align-items: flex-start;
		margin: 0 auto;
		max-width: 36rem;
	}
}

.newsletter-form__field-wrapper {
	width: 100%;
}

.newsletter-form__field-wrapper .field__input {
	padding-right: 5rem;
}

.newsletter-form__field-wrapper .field {
	z-index: 0;
}

.newsletter-form__message {
	justify-content: center;
	margin-bottom: 0;
}

.newsletter-form__message--success {
	margin-top: 2rem;
}

@media screen and (min-width: 750px) {
	.newsletter-form__message {
		justify-content: flex-start;
	}
}

.newsletter-form__button {
	width: 4.4rem;
	margin: 0;
	right: var(--inputs-border-width);
	top: 0;
	height: 100%;
	z-index: 2;
}

.newsletter-form__button:focus-visible {
	box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
	background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
	box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
	background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
	box-shadow: inherit;
	background-color: inherit;
}

.newsletter-form__button .icon {
	width: 1.5rem;
}

.newsletter--old .newsletter-wrapper {
	padding-bottom: 95px;
	padding-top: 74px;
}

.newsletter--old .field {
	align-items: center;
}

.newsletter--old .newsletter-form,
.newsletter--old .newsletter__wrapper .newsletter-form__field-wrapper {
	max-width: 100%;
}

.newsletter--old .newsletter-form {
	width: 66.66667%;
}

@media (min-width: 1100px) {
	.newsletter--old .newsletter-form {
		width: 50%;
	}
}

.newsletter--old .field::before,
.newsletter--old .field::after {
	content: none;
}

.newsletter--old .newsletter-form__button,
.newsletter--old .newsletter-form__button:not(:focus-visible):not(.focused) {
	all: initial;
	background: rgb(17, 93, 121);
	border-radius: 3px;
	border-style: none;
	border-color: rgb(0, 0, 0);
	border-width: 0px;
	color: rgb(255, 255, 255);
	font-family: var(--font-heading);
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 1px;
	line-height: 1;
	white-space: normal;
	padding: 11px 10px;
	text-align: center;
	word-break: break-word;
	align-self: flex-end;
	cursor: pointer;
	width: 100%;
	height: auto;
	margin: 10px 6px;
}

.newsletter--old .h1 {
	font-weight: 100;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 23px;
	color: black;
	margin-bottom: 1.5em;
}

.newsletter--old .newsletter__subheading {
	padding: 10px 6px;
	margin: 0 auto;
	color: black;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 16px;
}
