.primary-btn {
	background-color: var(--button-default-color);
	color: white;
	cursor: pointer;
	appearance: none;
	font-family: var(--font-heading);
	font-weight: 100;
	text-transform: uppercase;
	border: 0;
	border-radius: 3px;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 10px 0;
	padding: 14px;
	text-decoration: none;
	text-align: center;
	transition: all ease-in-out 0.25s;
	vertical-align: middle;
	width: auto;
	height: max-content;
	white-space: normal;

	&:hover {
		background-color: var(--button-hover-color);
		color: white;
	}
}

.secondary-btn {
	background-color: white;
	border: 2px solid var(--button-default-color);
	box-sizing: border-box;
	border-radius: 90px;
	color: var(--button-default-color);
	cursor: pointer;
	font-family: var(--font-heading);
	font-weight: 200;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	padding: 13px 40px;
	text-decoration: none;
	transition: all ease-in-out 0.25s;
	width: auto;
	height: max-content;
	white-space: normal;

	// &:hover {
	// 	background-color: var(--button-hover-color);
	// 	color: white;
	// }
}

.btn--wide {
	width: 100%;
}
