@import "mq";

.link-selector {
	font-weight: 400;
	font-size: 16px;
	font-family: var(--font-default);
	line-height: 24px;
	padding: 12px 16px;
	appearance: none;
	background-color: white;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-position-x: calc(100% - 17px);
	background-position-y: center;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	border-radius: 3px;
	color: var(--color-text);
	width: 100%;

	&--mobile {
		display: none;

		@include mq("medium") {
			display: block;
		}
	}

	&:focus {
		outline: none;
	}
}
