.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 4rem 0 0;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  height: fit-content;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after, .cart__note:hover.cart__note:after,
.cart__note:before, .cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 35rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}

.quantity__button {
  background-color: #0C5273 !important;
}

.quantity__button[name=minus] {
  border-radius: 3px 0 0 3px;
}

.quantity__button[name=plus] {
  border-radius: 0 3px 3px 0;
}

.quantity {
  height: 35px;
  border-radius: 3px;
  min-height: 35px;
  min-width: 110px;
  width: 110px;
  margin-right: 10px;
}

.quantity::after {
  border-radius: 3px;
}

.quantity__button svg {
  width: 14px;
}

.cart-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  user-select: none;
}

.cart-page-gift__title {
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--my-font);
  margin-bottom: 15px;
  line-height: 20px;
}

.cart-page-gift .modal-cart-gift__label {
  font-size: 14px;
  font-family: var(--font-2);
  line-height: 18px;
  color: var(--color-text);
  margin-bottom: 10px;
  text-transform: none;
}

.cart-page-gift__inner {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

.cart-page-gift  .modal-cart-gift__delay {
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.cart-page__header {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: var(--my-font);
}

.cart-page-donation__select {
  border-radius: 3px;
  width: 100%;
  border: 1px solid #ccc;
  height: 49px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #484e57;
  outline: none!important;
  box-shadow: none!important;
  font-family: var(--font-2);
  padding: 12px 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg class='icon icon-caret' width='21' height='11' viewBox='0 0 21 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L10.5 10L20 1' stroke='%23484E57' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.cart-page-donation__desc {
  font-size: 14px;
  font-family: var(--font-2);
  line-height: 22px;
  color: var(--color-text);
  margin-bottom: 10px;
  text-transform: none;
  margin-top: 0;
}

.cart-page-gift__info,
.cart-page-donation__info {
  display: none;
}

.cart-page-donation {
  margin-top: 20px;
}

.cart-page-gift.acitve .cart-page-gift__info {
  display: block;
}

.cart-page-gift.acitve .cart-header__icon svg {
  transform: rotate(180deg);
}

.cart-page-donation.acitve .cart-page-donation__info {
  display: block;
}

.cart-page-donation.acitve .cart-header__icon svg {
  transform: rotate(180deg);
}

.cart-summary {
  margin-top: 50px;
}

.cart-summary__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--my-font);
  text-transform: uppercase;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

.cart-summary__item:first-child {
  border-top: 0;
}

.cart-summary__title {
  font-size: 15px;
  line-height: 18px;
  color: var(--color-text);
  padding-right: 10px;
}

.cart-summary__text {
  font-size: 13px;
  color: #c91835;
}

.cart-summary__hint {
  font-size: 14px;
  font-family: var(--font-2);
  line-height: 22px;
  color: var(--color-text);
  margin-bottom: 18px;
  text-transform: none;
}

.cart-summary__action {
  margin-top: 30px;
}

.cart__checkout-button {
  width: 100%;
}

.cart-page__heading h1 {
  margin: 0;
  padding-right: 20px;
}

.cart-page__heading {
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
