@import 'mq';

.main-blog {
	--color-background: #e4f1f5;
	--color-accent: #ac1229;
	--color-date: #077194;
	--color-category-heading: #0c5273;
	--color-category-link: #484e57;

	padding-bottom: 120px;

	@include mq("medium") {
		padding-bottom: 102px;
	}
}

.main-blog__banner {
	background-color: var(--color-background);
	position: relative;
	overflow: hidden;

	.title--primary {
		font-family: var(--font-default);
		font-style: normal;
		font-weight: 400;
		font-size: 48px;
		line-height: 59px;
		color: var(--color-accent);
		text-transform: none;
		padding-top: 120px;
		padding-bottom: 120px;
		margin: 0;
		position: relative;

		@include mq("medium") {
			font-size: 24px;
			line-height: 32px;
			padding-top: 90px;
			padding-bottom: 90px;
		}
	}

	img {
		object-fit: contain;
		display: block;
	}

	&--background {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.main-blog__content {
	display: flex;
	position: relative;

	@include mq("medium", "min-width") {
		grid-gap: 48px;
	}
}

.blog-articles-wrapper {
	flex: 3.5;

	@include mq("medium") {
		padding-top: 35px;
	}
}

.blog-articles {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 64px 20px;

	@include mq("medium") {
		grid-template-columns: 1fr;
		grid-gap: 48px;
	}
}

.blog-categories {
	width: 100%;

	&__title {
		color: var(--color-category-heading);
		font-family: var(--font-heading);
		font-weight: 200;
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 16px;

		@include mq("medium") {
			font-size: 12px;
			line-height: 21px;
			margin-bottom: 4px;
		}
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;

		a {
			color: var(--color-category-link);
			font-family: var(--font-heading);
			text-decoration: none;
			font-weight: 200;
			font-size: 12px;
			line-height: 21px;
		}

		li + li {
			margin-top: 12px;
		}

		@include mq("medium") {
			display: none;
		}
	}

	@include mq("medium", "min-width") {
		flex: 1;
		min-width: 257px;
		order: 1;
	}

	@include mq("medium") {
		position: absolute;
		bottom: calc(100% + 25px);
		left: 0;
	}
}
