.footer {
  background-color: rgb(var(--color-background2));
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
}
.footer-block__details-content .list-menu__item--link{
    color: #fff
  }

.footer:not(.color-background-1) {
  border-top: none;
}

.footer__content-top {
  padding-bottom: 5rem;
  display: block;
}
.footer-has-img{
  position: relative;
  display: flex;
  column-gap: 101px;
}
.footer-has-img .logo__image--wrap{
}
.footer .grid{
  row-gap: 0;
}
.logo__image img {
  height: auto;
}
@media screen and (max-width: 749px) {
  .footer-block.grid__item {
    padding: 0;
    margin-top: 48px;
    width: 100%;
  }

  .footer__content-top {
    padding-bottom: 3rem;
  }
  .footer-block-subscribe {
    order: 1;
    margin-top: 0 !important;
  }
  .footer-block--menu:nth-child(1){
    order: 2;
  }
   .footer-block--menu:nth-child(2){
    order: 3;
  }
   .footer-block--menu:nth-child(3){
    order: 4;
  }

}

@media screen and (min-width: 750px) {
  .footer__content-top .grid {
    row-gap: 6rem;
    margin-bottom: 0;
  }
}

.footer__content-bottom:only-child {
  border-top: 0;
}

.footer__content-bottom-wrapper {
  display: flex;
  width: 100%;
}
.footer-block__details-content .list-menu__item--link{
  text-decoration: none;
  text-transform: capitalize;
}
.footer .list-menu__item--active{
  text-decoration: none;
}

.footer__column--info {
  align-items: flex-start;
}
.footer{
  overflow: hidden;
}
.footer__content-bottom{
  position: relative;
}
.footer__blocks-wrapper{
  position: relative;
}
.footer__column--info{
  align-items: flex-start;
  padding: 18px 0;
}
.footer-block:only-child:last-child {
  text-align: center;
  max-width: 76rem;
  margin: 0 auto;
}
.footer-block:empty {
  display: none;
}

.footer-block--newsletter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3rem;
}

.footer-block--newsletter:only-child {
  margin-top: 0;
}

.footer-block--newsletter > * {
  flex: 1 1 100%;
}

.footer-block__newsletter {
    text-align: left;
    justify-content: left;
}
.footer .newsletter-form {
    justify-content: left;
    align-items: flex-start;
}
.footer-block__subscrible > p,
.footer-block__details-content .list-menu__item--link{
  font-size: 14px;
  line-height: 20px;
}
.footer-block__subscrible > p{
  margin-bottom: 20px;
}
.footer .list-social__link {
  padding: 0;
  transform: scale(1) rotate(0);
  transition: all .25s ease-in-out;
}
.footer .list-social__link:hover, .footer .list-social__link:focus {
  transform: scale(1.25);
  
}
.footer .list-social__item {
   margin-right: 20px;
}
.footer-block-item + .footer-block-item{
  margin-top: 28px;
}
.footer-block__subscrible{
  color: #fff;
}
.footer-block__heading {
  color: #fff;
  margin-bottom: 14px;
}

.footer__list-social:empty,
.footer-block--newsletter:empty {
  display: none;
}

.footer-block__newsletter .field__input::-webkit-input-placeholder {
 color: rgb(var(--color-light-text));
 opacity: 1;
}

.footer-block__newsletter .field__input:-ms-input-placeholder { 
  color: rgb(var(--color-light-text));
  opacity: 1;
}

.footer-block__newsletter .field__input::placeholder {
  color: rgb(var(--color-light-text));
  opacity: 1;
}
.footer .newsletter-form__field-wrapper .field__input {
    font-size: 16px;
    line-height: 24px;
    outline: none;
    box-sizing: border-box;
    box-shadow: none;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 14px 20px 12px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.footer .newsletter-form__button{
  width: 40px;
  right: 20px;
}
.footer .newsletter-form__field-wrapper .field__button>svg{
  width: 40px;
}
.footer .newsletter-form__field-wrapper .field{
  height: 50px;
}
.footer .newsletter-form__field-wrapper .field:after,
.footer .newsletter-form__field-wrapper .field:before{
  content: none;
}

.footer-block__newsletter + .footer__list-social {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .footer-block {
    display: block;
    margin-top: 0;
  }
  .footer__column--info{
    padding-left: 264px;
  }

  .footer-has-img {
    padding-left: 264px;
  }
  .footer-has-img  .logo__image--wrap{
    position: absolute;
    left: 0;
    z-index: 1;
  }
  .footer-block--newsletter {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .footer__blocks-wrapper.grid--4-col-tablet{
    display: grid;
    column-gap: 70px;
    grid-template-columns: auto auto auto auto;
  }
   .footer__blocks-wrapper.grid--4-col-tablet .grid__item{
    width: 100%;
   }
   .footer-block-subscribe-content{
    margin-left: 50px;
   }
   .footer-block__newsletter:not(:only-child) {
    text-align: left;
  }

  .footer-block__newsletter:not(:only-child) .footer__newsletter {
    justify-content: flex-start;
    margin: 0;
  }

  .footer-block__newsletter:not(:only-child) .newsletter-form__message--success {
    left: auto;
  }
  .footer-block__newsletter + .footer__list-social {
    margin-top: 0;
  }
  .footer__localization {
    padding: 0.4rem 0;
    justify-content: flex-start;
  }

  .localization-form {
    padding: 1rem 2rem 1rem 0;
  }

  .localization-form:first-of-type {
    padding-left: 0;
  }

  .localization-form:only-child {
    justify-content: start;
    width: auto;
    margin: 0 1rem 0 0;
  }

  .localization-form:only-child .button,
  .localization-form:only-child .localization-form__select {
    margin: 1rem 0;
  }

  .footer__localization h2 {
    margin: 1rem 0 0;
  }
  .footer__payment {
    margin-top: 10px;
  }
  .footer-block__details-content {
    margin-bottom: 0;
  }

  .footer-block__details-content > p,
  .footer-block__details-content > li {
    padding: 0;
  }

  .footer-block:only-child li {
    display: inline;
  }

  .footer-block__details-content > li:not(:last-child) {
    margin-right: 1.5rem;
  }
  .footer-block__details-content .list-menu__item--link {
    display: inline-block;
  }

  .footer-block__details-content > :first-child .list-menu__item--link {
    padding-top: 0;
  }
} 

@media (min-width: 750px) and (max-width: 1199px ) {
    .footer-has-img .logo__image--wrap{
      max-width: 110px;
      margin-top: 50px;
      margin-bottom: -82px;
      position: static;
    }
    .footer__blocks-wrapper.grid--4-col-tablet {
    display: flex;
    column-gap:0;
    flex-wrap: wrap;
  }
  .footer-has-img {
      column-gap: 0;
      display: block;
  }
  .footer-block-subscribe-content{
    margin-left: 0;
  }
  .footer__blocks-wrapper.grid--4-col-tablet .grid__item {
      width: 33.33%;
  }
  .footer__blocks-wrapper.grid--4-col-tablet .grid__item:nth-child(3) {
      padding-right: 0;
  }
  .footer__blocks-wrapper.grid--4-col-tablet .grid__item.footer-block-subscribe{
    width: 100%;
  }
  .footer .newsletter-form {
      align-items: flex-start;
      margin: 0 auto;
      max-width: 100%;
  }
  .footer-block--menu{
    padding-right: 20px;
  }

  .footer-block-subscribe {
      grid-column-start: 1;
      grid-column-end: 4;
  }
  .footer__content-top .grid{
    row-gap: 0;
  }
  .footer__column--info, .footer-has-img {
      padding-left: 0;
  }
  .footer__blocks-wrapper--container.footer-has-img{
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__content-bottom-wrapper {
      padding: 42px 48px 39px;
  }
  .footer__column--info{
    padding: 0;
  }
}


@media screen and (max-width: 749px) {
  .footer-block__details-content{
    margin-bottom: 0 !important;
  }
  .footer-block__details-content li:last-child a{
    padding-bottom: 0;
  }
  .footer__content-bottom-wrapper {
    padding: 42px  48px 39px;
  }
  .footer__column--info{
    padding: 0 !important;
  }
  .footer__localization:empty + .footer__column {
    padding-top: 1.5rem;
  }
  .footer-block.footer-block--menu:only-child {
    text-align: left;
  }
  .footer-has-img {
      position: relative;
      flex-wrap: wrap;
  }
  .logo__image--wrap {
      order: 2;
      margin-top: 40px;
      margin-bottom: -57px;
      z-index: 1;
  }
  .footer-has-img .logo__image--wrap{
    max-width: 75px;
  }
  .footer-block__heading{
    font-size: 12px;
    line-height: 21px;
  }
  .footer .page-width{
    padding-left: 48px;
    padding-right: 48px;
  }
}

.footer__localization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
}

.footer__localization:empty {
  display: none;
}

.localization-form {
  display: flex;
  flex-direction: column;
  flex: auto 1 0;
  padding: 1rem;
  margin: 0 auto;
}

.localization-form:only-child {
  display: inline-flex;
  flex-wrap: wrap;
  flex: initial;
  padding: 1rem 0;
}

.localization-form:only-child .button,
.localization-form:only-child .localization-form__select {
  margin: 1rem 1rem 0.5rem;
  flex-grow: 1;
}

.footer__localization h2 {
  margin: 1rem 1rem 0.5rem;
  color: rgba(var(--color-foreground), 0.75);
}
footer .list-social{
  padding-left: 0 !important;
  margin: 0;
  justify-content: left;
}
@media screen and (max-width: 989px) {
  noscript .localization-form:only-child,
  .footer__localization noscript {
    width: 100%;
  }
}

.localization-form .button {
  padding: 1rem;
}

.localization-form__currency {
  display: inline-block;
}

.localization-form__select {
  border-radius: var(--inputs-radius-outset);
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  text-align: left;
  min-height: calc(4rem + var(--inputs-border-width) * 2);
  min-width: calc(7rem + var(--inputs-border-width) * 2);
}

.disclosure__button.localization-form__select {
  padding: calc(2rem + var(--inputs-border-width));
  background: rgb(var(--color-background));
}

noscript .localization-form__select {
  padding-left: 0rem;
}

.localization-form__select .icon-caret {
  position: absolute;
  content: '';
  height: 0.6rem;
  right: calc(var(--inputs-border-width) + 1.5rem);
  top: calc(50% - 0.2rem);
}

.localization-selector.link {
  text-decoration: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: rgb(var(--color-foreground));
  width: 100%;
  padding-right: 4rem;
  padding-bottom: 1.5rem;
}

noscript .localization-selector.link {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.disclosure .localization-form__select {
  padding-top: 1.5rem;
}

.localization-selector option {
  color: #000000;
}

.localization-selector + .disclosure__list-wrapper {
  margin-left: 1rem;
  opacity: 1;
  animation: animateLocalization var(--duration-default) ease;
}

.footer__payment .list-payment{
  justify-content: flex-start;
  margin: 0;
}
@keyframes appear-down {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.footer-block__details-content {
  margin-bottom: 4rem;
}

@media screen and (max-width: 989px) {
  .footer-block__details-content .list-menu__item--link {
    padding-top: 0;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 749px) {
  .footer-block-image {
    text-align: center;
  }
}

.footer-block-image > img {
  height: auto;
}

.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}
.footer__copyright,
.copyright__content a {
  color: rgb(var(--color-heading));
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 20px;
}

@keyframes animateLocalization {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}

.footer .disclosure__link {
  padding: 0.95rem 3.5rem 0.95rem 2rem;
  color: rgba(var(--color-foreground), 0.75);
}

.footer .disclosure__link:hover {
  color: rgb(var(--color-foreground));
}

.footer .disclosure__link--active {
  text-decoration: underline;
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (max-width: 749px) {
    .footer .grid {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 750px) {
    .footer__content-top .grid {
      margin-left: -3rem;
    }

    .footer__content-top .grid__item {
      padding-left: 3rem;
    }
  }
}

@media (max-width: 380px) {
  .footer__content-bottom-wrapper {
    padding-right: 27px !important;
  }

  .footer__copyright, .copyright__content a {
    font-size: 12px;
  }
}
