@import "mq";

.customer {
	--color-heading: #0c5273;
	--color-text: #484e57;
	--color-accent: #8ed1cb;
	--color-accent-2: #ac1229;
	--button-default-color: var(--color-accent-2);
	--button-hover-color: var(--color-accent-2);

	display: flex;
	grid-gap: 46px;
	padding-top: 96px;
	padding-bottom: 120px;

	@include mq("medium") {
		flex-direction: column;
		grid-gap: 64px;
		padding-top: 64px;
		padding-bottom: 180px;
	}
}

.account-menu {
	flex: 1;
	@include mq("medium", "min-width") {
		max-width: 257px;
	}
}

.account-content {
	flex: 3.5;
}

.customer:not(.account):not(.order) {
	margin: 6rem auto 9rem;
	max-width: 33.4rem;
	padding: 0 1.5rem;
	text-align: center;
}

@media screen and (min-width: 750px) {
	.customer:not(.account):not(.order) {
		max-width: 47.8rem;
	}
}

.customer form {
	margin-top: 4rem;
}

.customer h2.form__message {
	font-size: calc(var(--font-heading-scale) * 1.8rem);
}

@media only screen and (min-width: 750px) {
	.customer h2.form__message {
		font-size: calc(var(--font-heading-scale) * 2.2rem);
	}
}

.customer .field {
	margin: 2rem 0 0 0;
}

.customer .field:first-of-type {
	margin-top: 0;
}

/* Customer Table */
.customer table {
	table-layout: auto;
	background-color: white;
	border-collapse: separate;
	border-spacing: 0;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	padding: 24px;
	width: 100%;
	position: relative;

	@include mq("medium") {
		padding: 24px 16px;
	}
}

.customer th,
.customer td {
	font-weight: 400;
	line-height: 1;
	border: none;
	padding: 0;
}

@media screen and (min-width: 750px) {
	.customer td {
		padding-right: 2.2rem;
	}
}

.customer tbody td {
	font-family: var(--font-default);
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-text);

	@include mq("medium", "min-width") {
		font-size: 16px;
		line-height: 24px;
		padding-top: 13px;
		padding-bottom: 16px;
		border-bottom: 1px solid #cccccc;
		vertical-align: top;
	}
}

.customer tr {
	@include mq("medium") {
		&:not(:last-of-type) {
			border-bottom: 1px solid #cccccc;
			padding-bottom: 16px;
			margin-bottom: 16px;
		}
	}
	@include mq("medium", "min-width") {
		&:last-of-type td {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

.customer tr .customer td:empty {
	display: initial;
}

@media screen and (min-width: 750px) {
	.customer th,
	.customer td:first-of-type {
		text-align: left;
		padding-left: 0;
		padding-right: 2.2rem;
	}
}

@media screen and (min-width: 750px) {
	.customer tbody td:last-of-type {
		padding-bottom: 0;
	}
}

.customer tfoot td:first-of-type,
.order__product-title {
	font-family: var(--font-heading);
	font-weight: 200;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--color-text);
	text-align: left;
}

.customer tfoot tr:last-of-type td {
	padding-bottom: 4rem;
}

.customer thead th {
	font-family: var(--font-heading);
	font-weight: 200;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: var(--color-text);
	padding-bottom: 12px;
}

/* works around colspan phantom border issues */
.customer thead {
	position: relative;
}

.customer thead::after,
.customer tfoot::before {
	content: " ";
	background: var(--color-text);
	width: 100%;
	height: 1px;
	display: block;
	position: absolute;
	left: 0;
}

.customer tfoot {
	position: relative;

	&::before {
		background: #cccccc;
	}
}

.customer td.order-history__total-price,
.order tfoot td:last-of-type {
	font-family: var(--font-heading);
	font-weight: 200;
	font-size: 18px;
	line-height: 24px;
	color: var(--color-accent-2);

	@include mq("medium") {
		font-size: 14px;
		line-height: 18px;
	}
}

@media screen and (forced-colors: active) {
	.customer thead::after,
	.customer tfoot::before {
		background: CanvasText;
	}
}

@media screen and (min-width: 750px) {
	.customer tfoot tr:last-of-type td,
	.customer tfoot tr:last-of-type th {
		padding-bottom: 2.4rem;
	}
}

/* mobile table overrides */
@include mq("medium") {
	.customer thead,
	.customer th,
	.customer tfoot td:first-of-type {
		display: none;
	}

	.customer td {
		display: flex;
		text-align: right;
	}

	.customer td::before {
		content: attr(data-label);
		color: var(--color-heading);
		font-family: var(--font-heading);
		font-size: 14px;
		line-height: 18px;
		padding-right: 2rem;
		text-transform: uppercase;
		flex-grow: 1;
		text-align: left;
	}

	.customer td:first-of-type {
		display: flex;
		align-items: center;
	}

	.customer tr {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		grid-gap: 4px;
	}
}

/* Pagination */
.customer .pagination {
	margin-top: 5rem;
	margin-bottom: 7rem;
}

@media screen and (min-width: 990px) {
	.customer .pagination {
		margin-top: 7rem;
		margin-bottom: 10rem;
	}
}

.customer .pagination ul {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}

.customer .pagination li {
	flex: 1 1;
	max-width: 4rem;
}

.customer .pagination li:not(:last-child) {
	margin-right: 1rem;
}

.customer .pagination li :first-child {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 4rem;
	width: 100%;
	padding: 0;
	text-decoration: none;
}

.customer .pagination li :first-child svg {
	height: 0.6rem;
}

.customer .pagination li:first-of-type svg {
	margin-left: -0.2rem;
	transform: rotate(90deg);
}

.customer .pagination li:last-of-type svg {
	margin-right: -0.2rem;
	transform: rotate(-90deg);
}

.customer .pagination li [aria-current]::after {
	content: "";
	display: block;
	width: 2rem;
	height: 0.01rem;
	position: absolute;
	bottom: 0.08rem;
	left: 50%;
	transform: translateX(-50%);
	background-color: currentColor;
}

/* Login */
.login a {
	display: block;
	margin: 0 auto;
	width: fit-content;
}

.login a[href="#recover"] {
	margin-left: 0;
	margin-right: 0;
}

.login .field + a {
	margin-top: 1rem;
}

.login p {
	margin: 1.5rem 0;
}

.login h3 {
	margin-top: 1.5rem;
	text-align: left;
	font-size: calc(var(--font-heading-scale) * 1.6rem);
}

#customer_login_guest button {
	margin-top: 0;
}

#recover,
#recover + div {
	display: none;
}

#recover:target {
	display: block;
}

#recover:target + div {
	display: block;
}

#recover:target ~ #login,
#recover:target ~ #login + div {
	display: none;
}

#recover,
#login {
	scroll-margin-top: 20rem;
}

#recover {
	margin-bottom: 0;
}

.activate button[name="decline"],
.addresses li > button,
.addresses form button[type] {
	background-color: rgba(var(--color-background), var(--alpha-button-background));
}

@media only screen and (min-width: 750px) {
	.activate button[name="decline"] {
		margin-top: inherit;
		margin-left: 1rem;
	}
}

/* Account/Order */
@media screen and (min-width: 990px) {
	:is(.account, .order) > div:nth-of-type(2) > div:first-of-type {
		flex-grow: 1;
		padding-right: 3.2rem;
	}
}

@media screen and (min-width: 750px) and (max-width: 989px) {
	.order > div:nth-of-type(2) > div:last-of-type {
		display: flex;
	}

	.order > div:nth-of-type(2) > div:last-of-type div {
		padding-right: 3.2rem;
	}
}

:is(.account, .order) p {
	margin: 0 0 2rem;
	font-size: 1.6rem;
}

:is(.account, .order) h2 {
	margin-top: 4rem;
	margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
	:is(.account, .order) h2 {
		margin-top: 0;
	}
}

.account h1 + a {
	display: inline-flex;
	align-items: center;
}

.account a svg {
	width: 1.5rem;
	margin-bottom: -0.03rem;
	margin-right: 1rem;
}

/* Order */
.order h2 {
	font-family: var(--font-heading);
	font-weight: 200;
	font-size: 28px;
	line-height: 36px;
	color: var(--color-heading);
	margin-bottom: 4px;
}

.order td:first-of-type {
	align-items: initial;
}

.order tfoot tr:last-of-type td,
.order tfoot tr:last-of-type th {
	font-size: 2.2rem;
	padding-top: 1.5rem;
	padding-bottom: 4rem;
}

@media screen and (min-width: 750px) {
	.order tfoot tr:last-of-type td,
	.order tfoot tr:last-of-type th {
		padding-bottom: 2.4rem;
	}
}

.order tfoot tr:last-of-type td:before {
	font-size: 2.2rem;
}

.order table p {
	margin-bottom: 24px;
}

.order .item-props {
	font-size: 1.4rem;
	margin-top: 0.05px;
	display: flex;
	flex-direction: column;
}

.order .item-props > span {
	word-break: break-all;
	line-height: calc(1 + 0.2 / var(--font-body-scale));
}

.order .fulfillment {
	width: fit-content;
	border: 0.01rem solid rgba(var(--color-foreground), 0.2);
	padding: 1rem;
	margin-top: 1rem;
	font-size: 1.4rem;
	text-align: left;
}

.order .fulfillment a {
	margin: 0.7rem 0;
}

.order .fulfillment span {
	display: block;
}

.order .cart-discount {
	display: block;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}

@media screen and (min-width: 750px) {
	.order td .cart-discount {
		display: none;
	}
}

.order tbody ul {
	list-style: none;
	font-size: 1.2rem;
	text-align: right;
	padding-left: 0;
	margin-top: 1rem;
	margin-bottom: 0;
}

@media screen and (min-width: 750px) {
	.order tbody ul {
		text-align: left;
	}
}

.order table a {
	line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.order tbody tr:first-of-type td:first-of-type > div {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

@media screen and (min-width: 750px) {
	.order tbody tr:first-of-type td:first-of-type > div {
		align-items: flex-start;
	}
}

.order .properties {
	font-size: 1.4rem;
	margin-top: 1rem;
}

.order .properties span {
	display: block;
	line-height: calc(1 + 0.2 / var(--font-body-scale));
}

.order svg {
	width: 1.1rem;
	margin-right: 0.5rem;
}

.order dl {
	margin: 0;
}

.order dd {
	margin-left: 0;
	line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.order dd s {
	color: rgba(var(--color-foreground), 0.7);
}

.order .unit-price {
	font-size: 1.1rem;
	letter-spacing: 0.07rem;
	line-height: calc(1 + 0.2 / var(--font-body-scale));
	margin-top: 0.2rem;
	text-transform: uppercase;
	color: rgba(var(--color-foreground), 0.7);
}

.order .regular-price {
	font-size: 1.3rem;
}

.order {
	tbody {
		tr:last-of-type td {
			padding-bottom: 16px;
		}

		td:last-of-type {
			font-family: var(--font-heading);
			font-weight: 200;
			font-size: 18px;
			line-height: 24px;
			text-transform: uppercase;
			color: var(--color-heading);
		}
	}

	tbody,
	tfoot {
		td:last-of-type {
			text-align: right;
		}
	}
}

.order thead th:last-of-type {
	text-align: right;
	padding-right: 0;
}

/* Addresses */
.addresses li > button {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.addresses li > button + button,
.addresses form button + button {
	margin-top: 0rem;
}

@media screen and (min-width: 750px) {
	.addresses li > button:first-of-type {
		margin-top: 3rem;
	}
}

.addresses form button:first-of-type {
	margin-right: 1rem;
}

label[for="AddressCountryNew"],
label[for="AddressProvinceNew"] {
	display: block;
	font-size: 1.4rem;
	margin-bottom: 0.6rem;
}

.addresses form {
	display: flex;
	flex-flow: row wrap;
}

.addresses form > div {
	width: 100%;
	text-align: left;
}

.addresses ul {
	list-style: none;
	padding-left: 0;
	text-align: center;
}

li[data-address] {
	margin-top: 5rem;
}

.addresses [aria-expanded="false"] ~ div[id] {
	display: none;
}

.addresses [aria-expanded="true"] ~ div[id] {
	display: block;
}

.addresses h2 {
	text-align: left;
}

li[data-address] > h2 {
	text-align: center;
	font-size: calc(var(--font-heading-scale) * 1.8rem);
	margin-bottom: 0;
}

@media only screen and (min-width: 750px) {
	li[data-address] > h2 {
		font-size: calc(var(--font-heading-scale) * 2.2rem);
	}
}

.addresses ul p {
	margin-bottom: 0;
}

.addresses input[type="checkbox"] {
	margin-top: 2rem;
	margin-left: 0;
}

@media only screen and (min-width: 750px) {
	.addresses form > div:nth-of-type(1) {
		margin-right: 2rem;
	}

	.addresses form > div:nth-of-type(2) {
		margin-top: 0;
	}

	.addresses form > div:nth-of-type(1),
	.addresses form > div:nth-of-type(2) {
		box-sizing: border-box;
		flex-basis: calc(50% - 1rem);
	}
}

.addresses form > div:nth-of-type(7),
.addresses form > div:nth-of-type(7) + div[id] {
	margin-top: 1.5rem;
}

.account table td:first-of-type a {
	font-family: var(--font-heading);
	font-weight: 200;
	font-size: 18px;
	line-height: 24px;
	text-decoration-line: underline;
	text-decoration-thickness: 1px;
	text-transform: uppercase;
	color: var(--color-heading);

	@include mq("medium") {
		font-size: 14px;
	}
}

.account table td:first-of-type a:hover {
	box-shadow: 0 0 0 0.2rem rgba(var(--color-link), 0.2);
}

a.account__back {
	display: flex;
	align-items: center;
	grid-gap: 8px;
	font-family: var(--font-heading);
	font-weight: 200;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--color-text);
	margin-bottom: 24px;

	img {
		transform: rotate(90deg);
		width: 13px;
		height: 7px;
	}
}
