.product-recommendations {
  display: block;
}

/* .product-recommendations:not(.product-recommendations--loaded) {
  padding: 0;
  margin: 0;
} */

.product-recommendations__heading {
  margin-bottom: 75px;
  text-align: center;
  font-family: var(--my-font);
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: none;
}

.product-recommendations .product-grid {
  margin-top: 0;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-sizing: inherit;
  padding-left: 0;
  list-style: none;
}

.product-recommendations .grid__item {
  width: 100% !important;
  max-width: 100% !important;
}

.product-recommendations .card-product__form {
  display: none;
}

@media (max-width: 767px) {
  .product-recommendations .product-grid {
    grid-template-columns: 1fr;
    display: flex;
    padding-left: 0;
    grid-gap: 0;
  }
}

@media (max-width: 899px) and (min-width: 768px) {
  .product-recommendations .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1150px) and (min-width: 900px) {
  .product-recommendations .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 899px){
  product-recommendations .ss__searchspring__recommendations .ss__recommendations-title {
    font-size: 28px;
    line-height: 36px;
  }
}