.newsletter--old {
	.field {
		align-items: center;

		&::before,
		&::after {
			content: none;
		}
	}

	.newsletter-form,
	.newsletter__wrapper .newsletter-form__field-wrapper {
		max-width: 100%;
	}

	.newsletter-form {
		width: 100%;
		padding: 0 5px 10px;
	}

	.newsletter-form-wrapper {
		margin-left: auto;
		margin-right: auto;
		width: 66.66667%;

		@media (min-width: 1100px) {
			width: 50%;
			padding-left: 7.08333%;
			padding-right: 7.08333%;
		}
	}

	.h1 {
		font-weight: 100;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 23px;
		color: black;
		margin: 0 auto 1.5em;
		width: 66.66667%;

		@media (min-width: 1100px) {
			width: 50%;
		}
	}

	.newsletter__subheading {
		padding: 15px 6px 10px;
		margin: 0 auto;
		color: black;
		font-family: Georgia, Times, "Times New Roman", serif;
		font-size: 16px;
		width: 66.66667%;

		@media (min-width: 1100px) {
			width: 50%;
		}
	}

	.newsletter-form__button,
	.newsletter-form__button:not(:focus-visible):not(.focused) {
		all: initial;
		background: rgb(17, 93, 121);
		border-radius: 3px;
		border-style: none;
		border-color: rgb(0, 0, 0);
		border-width: 0px;
		color: rgb(255, 255, 255);
		font-family: var(--font-heading);
		font-size: 16px;
		font-weight: 200;
		letter-spacing: 1px;
		line-height: 1;
		white-space: normal;
		padding: 11px 10px;
		text-align: center;
		word-break: break-word;
		cursor: pointer;
		width: max-content;
		height: auto;
		margin: 10px 6px;
	}

	.newsletter-form__field-wrapper .field__input {
		padding: 0px 0px 0px 16px;
		text-align: left;
		color: rgb(0, 0, 0);
		font-family: Georgia, Times, "Times New Roman", serif;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0px;
		background-color: rgb(255, 255, 255);
		border: 1px solid rgb(180, 187, 195);
		margin: 0;
		height: 100%;
		min-height: unset;

		&:hover,
		&:focus {
			border-color: black !important;
			box-shadow: none;
		}

		&::placeholder,
		&:focus::placeholder {
			opacity: 1;
			color: #b4bbc3;
			font-family: Georgia, Times, "Times New Roman", serif;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0px;
		}
	}

	.newsletter__tooltip {
		display: none;
		background-color: white;
		position: absolute;
		z-index: 1;
		right: 0px;
		border-radius: 4px;
		animation: 0.4s ease 0s 1 normal none running klaviyo-fadein;
		top: calc(100% + 14px);
		right: 0;
		border-radius: 4px;
		box-shadow: rgba(0, 0, 0, 0.26) 1px 1px 4px 0px;
		border: 1px solid rgb(208, 51, 31);
		background-color: rgb(248, 236, 233);
		font-size: 14px;
		padding: 8px;
		font-family: Georgia, Times, "Times New Roman", serif;
		color: rgb(208, 51, 31);

		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 9px;
			left: 7px;
			top: -17px;
			border-color: transparent transparent #d0331f transparent;
		}
		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			left: 9px;
			border-width: 8px;
			top: -15px;
			border-color: transparent transparent rgb(248, 236, 233) transparent;
		}
	}

	.field__input-wrapper {
		box-sizing: border-box;
		border-radius: 2px;
		padding: 0px 0px 0px 16px;
		height: 38px;
		position: relative;
		flex: 1 0 0px;
		margin: 10px 6px;

		&.error {
			.field__input {
				border: 1px solid rgb(208, 51, 31);
			}
			.newsletter__tooltip {
				display: block;
			}
		}
	}
}
