.icon-card__image-wrapper{
	width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
}
.icon-card__media.placeholder{
	width: 100%;
}
.icon-card__info{
	max-width: 190px;
	margin: auto;
}
.icon-card__info h5{
	margin: 32px 0 0;
}
.icon-list.grid{
	margin-bottom: 0 !important;
}
.icon-list-wrapper .slider-buttons{
	display: none;
}
.icon-list-wrapper .slider.slider--mobile .slider__slide{
	padding-bottom: 0;
}
.icon-card__info h5 a {
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}
.icon-list-wrapper .icon-list{
	max-width: 755px;
	margin: auto;
}
.icon-card__media img{
	float: left;
	height: 76px;
	width: auto;
	object-fit: contain;
}
.icon-card__title {
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  margin-top: 32px;
  text-decoration: none;
  font-family: var(--font-heading);
  color: rgb(var(--color-heading));
}
@media (max-width: 749px) {
	.icon-list-wrapper .page-width{
		padding-left: 0;
		padding-right: 0;
	}
	.icon-card__info h5{
		font-size: 18px;
	}
}