.top-brands_top {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    max-width: 90%;
    margin: 0 auto 60px;

    @media (max-width: 767px) {
        max-width: 100%;
        grid-template-columns: 1fr;
    }
}

.top-brands__heading {
    font-family: var(--font-default);
    font-size: 40px;
    line-height: 1.2;
    text-align: right;
    padding-right: 50px;
    position: relative;
    margin-bottom: 20px;

    p {
        margin: 0;
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 170px;
        background-color: rgba(var(--color-foreground), 0.2);
    }

    @media (max-width: 767px) {
        text-align: center;
        padding-right: 0;

        &:after {
            display: none;
        }
    }

    @media (max-width: 576px) {
        font-size: 32px;
    }
}

.top-brands__content {
    font-size: 16px;
    line-height: 24px;
    color: #484e57;
    margin-left: 40px;
    width: 100%;

    @media (max-width: 767px) {
        padding: 0 20px;
        margin-left: 0;
        text-align: center;
    }
}

.top-brands_item {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    column-gap: 65px;
    padding: 55px 0;
    align-items: center;

    &:last-of-type {
        border-bottom: 0px;
    }

    &__title {
        font-family: var(--font-default);
        margin-bottom: 24px;
        font-size: 24px;
        line-height: normal;
        font-weight: 700;
        text-transform: none;
        color: rgba(var(--color-foreground), 1);
    }

    &__richtext {
        font-size: 16px;
        line-height: 24px;
        color: #484e57;

        p {
            margin: 0;
        }
    }

    &__media {
        padding-top: 100%;
        position: relative;
        border: 1px solid rgba(var(--color-foreground), 0.2);
       
        img {
            object-fit: contain;
            padding: 10px;
        }
    }

    @media (max-width: 767px) {
        column-gap: 30px;
        padding: 30px 0;

        &__media {
            margin-bottom: 30px;
        }
    }

    @media (max-width: 576px) {
        grid-template-columns: 1fr;
        column-gap: 0;
    }
}