@import "_mq";

.water-wells-template {
	background-color: #e4f1f5;

	.content-wrapper {
		@include mq("medium", min-width) {
			max-width: 55%;
			margin-left: auto;
			margin-right: auto;
		}

		@include mq("medium") {
			padding: 0 20px;
		}
	}
}
