.collection {
  background-color: #E4F1F5;
  padding-bottom: 80px;
}

.collection__header {
  padding-top: 72px;
  display: grid;
  grid-template-columns: 285px 1fr;
  grid-gap: 20px;
  margin-bottom: 40px;
  align-items: center;
}

.collection__header-title {
  margin: 0 0 8px;
}

.collection__menu {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.collection__menu-link:not(.menu-view-more) {
  text-decoration: none;
  color: var(--color-link-text);
  font-family: var(--my-font);
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
}

.collection__menu-view-more {
  margin-bottom: 8px;
}

.menu-view-more {
  color: var(--color-header);
  font-family: var(--my-font);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  margin-left: 12px;
  text-transform: uppercase;
}

.collection__menu-item:not(.collection__menu-view-more) {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 4px 18px;
  border: 1px solid #ccc;
  border-radius: 32px;
  background-color: #fff;
}

.collection__menu-item.active {
  border-color: cadetblue;
}

.header-title {
  color: var(--color-header);
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;
  font-family: var(--my-font);
}

.collection-product__inner {
  display: grid;
  grid-gap: 48px 20px;
}

.collection__wrapper {
  display: grid;
  grid-template-columns: 285px 1fr;
  grid-gap: 20px;
}

.pagination__item {
  font-size: 13px;
  font-family: var(--my-font);
}

.collection-sidebar__header {
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  margin: 0;
  text-transform: uppercase;
  font-family: var(--my-font);
  color: var(--color-link-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  width: 100%;
  border: none;
  background: transparent;
}

.collection-sidebar__link {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: none;
  text-transform: uppercase;
  color: var(--color-text);
  font-family: var(--my-font);
  padding-bottom: 4px;
  position: relative;
  transition: font-weight 0.1s;
}

.collection-sidebar__link:after{
  content: "";
  background-color: var(--color-text);
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  transition: bottom .1s ;
}

.collection-sidebar__link:hover{
  font-weight: bold !important;
  color: var(--color-text);
}

.collection-sidebar__link:hover:after{
  bottom: -2px;
}

.sidebar-filter__inner {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.collection-sidebar__header-icon {
  padding-right: 10px;
}

.sidebar-filter__inner:last-child {
  border-bottom: 1px solid #ccc;
}

.footer {
  margin-top: 0 !important;
}

.collection__sort-by {
  margin-top: 40px;
}

.sort-by__select {
  border: 0;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.65796L7 7.34217L13 1.65796' stroke='%23262626' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center right;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
}

.sort-by__select:focus{
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.sort-by__wrapper {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background-color: #fff;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.sort-by__label,
.sort-by__select {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);
  font-family: var(--font-2);
  font-weight: 400;
}

.collection-candy__list {
  display: grid;
  grid-gap: 56px 20px;
  align-items: flex-start;
  box-sizing: inherit;
}

.collection-candy {
  background-color: #e4f1f5;
}

.collection-candy__title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 32px;
  text-transform: none;
  position: relative;
  display: flex;
  align-items: center;
}

.collection-candy__title span {
  padding-right: 16px;
  background-color: #e4f1f5;
  z-index: 1;
}

.collection-candy__title::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  right: 0;
  top: 44%;
}


.collection-view-all {
  position: relative;
  padding-top: 100%;
}

.collection-view-all__link {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0;
  background-color: #AC1229;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--my-font);
  flex-direction: column;
  transition: all .1s ease-in;
}

.collection-view-all__link:hover {
  color: rgb(var(--color-secondary-button-background));
  border-color: rgb(var(--color-secondary-button-border));
  background-color: rgba(var(--color-secondary-button-border),1);
}

.collection-view-all__link span {
  margin-bottom: 10px;
}

.collection-view-all__link-icon {
  margin-top: 14px;
}

.custom-swiper-pagination {
  display: block;
  position: static;
  margin-top: 32px;
  text-align: left;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  width: 21px;
  height: 21px;
  margin-left: 0 !important;
  margin-right: 12px !important;
  background-color: #8ED1CB;
  opacity: 1 !important;
  border: 2px solid transparent
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  border-color: #0C5273;
}

.collection-view-all__mobile {
  margin-top: 26px;
}

.collection-view-all__mobil-link {
  border-radius: 32px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-radius: 32px;
  min-height: 0;
  text-align: center;
}

.loader {
  border: 6px solid #bcbcbc;
  border-radius: 50%;
  border-top: 6px solid #0b5273;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: block;
  margin: auto;
}

.js-infinite-scroll {
  display: block;
  width: 100%;
  margin-top: 30px;
}

.collection-sidebar__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding-top: 14px;
  display: none;
}

.collection-sidebar__item {
  margin-bottom: 14px;
}

.collection-sidebar__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: var(--font-2);
  color: var(--color-header);
  cursor: pointer;
  user-select: none;
}

.collection-sidebar__label:hover {
  color: var(--color-link);
}
.collection-sidebar__input{
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.collection-sidebar__input + label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  margin-top: -2px;
}

.collection-sidebar__input:checked + label {
  position: relative;
}

.collection-sidebar__input:focus + label {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.collection-sidebar__input:checked + label:before {
  border-color: #c91835;
}

.collection-sidebar__input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 14px;
  border: solid #c91835;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.sidebar-filter__inner.active .collection-sidebar__list {
  display: block;
}

.sidebar-filter__inner.active .collection-sidebar__header-icon svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 2px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.collection__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #484E57;
}

.collection__text p {
  margin-top: 0;
}

.collection__desc {
/*   margin-top: 80px; */
  padding-top: 48px;
/*   border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #484e57;
}

.collection__desc iframe {
  max-width: 100%;
}

.collection__desc p {
  text-align: left !important;
}

.collection__desc h2,
.collection__desc h3,
.collection__desc h4 {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: var(--my-font);
  color: #262626;
}

.collection__text a {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  font-family: var(--my-font);
}
.collection #searchspring-content {
  min-height: 485px;
}

#searchspring-content div[style="display: block; margin-top: 400px;"] {
  margin-top: 50px !important;
}

@media (min-width: 768px) {
  .collection-candy__wrapper .swiper {
    overflow: inherit;
  }

  .custom-swiper-pagination {
    display: none;
  }

  .collection-view-all__mobile {
    display: none;
  }
}

.filter-mobile {
  display: none;
}

.filter-mobile__header {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  margin: 0;
  text-transform: uppercase;
  font-family: var(--my-font);
  color: var(--color-link-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.sidebar-mobile-title {
  display: none;
}

.filter-mobile__icon svg {
  vertical-align: middle;
}

.custom-collection {
  padding-top: 50px;
  padding-bottom: 120px;
}

.custom-collection .container {
  max-width: 920px;
}

.custom-collection__header {
  margin-top: 0;
  color: #c91835;
  font-size: 24px;
  line-height: 32px;
}

.custom-collection__desc {
  font-size: 16px;
  line-height: 28px;
  color: var(--color-text);
}

.custom-collection__desc a {
  text-transform: none;
  font-family: var(--font-2);
  font-size: 16px;
  color: var(--color-link);
}

.page-corporate-gifts__cta-btn {
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}

.page-corporate-gifts__cta-btn a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(var(--color-button),var(--alpha-button-background));
  background-color: #ad1128;
  height: 50px;
  border-radius: var(--buttons-radius-outset);
  padding: 13px 40px 14px;
  cursor: pointer;
  font-family: var(--font-heading);
  letter-spacing: .02em;
  font-size: 15px;
  box-sizing: border-box;
  line-height: 24px;
  text-decoration: none;
  color: rgb(var(--color-button-text));
  transition: box-shadow var(--duration-short) ease;
  -webkit-appearance: none;
  color: #fff;
}

.page-corporate-gifts__cta-btn a:hover {
  color: rgb(var(--color-secondary-button-background));
  border-color: rgb(var(--color-secondary-button-border));
  background-color: rgba(var(--color-secondary-button-border),1);
}

.custom-collection__list {
  display: grid;
  margin-top: 90px;
  grid-gap: 40px 15px;
}

.card-collection__picture {
  position: relative;
  padding-top: 100%;
}

.card-collection__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-collection__link {
  text-decoration: none;
  display: block;
}

.custom-collection__list-item {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
  transition: all .3s ease-in-out;
  border-radius: 5px;
}

.custom-collection__list-item:hover {
  box-shadow:0 5px 15px rgba(0, 0, 0, .15);
}

.card-collection__title {
  font-size: 14px;
  padding: 0 10px;
  text-align: center;
  margin-top: 10px;
  line-height: 18px;
  margin-bottom: 10px;
  color: var(--color-text);
}

@media (max-width: 980px) {
  .sidebar-filter__inner:first-child {
    border-top: 0;
  }

  .collection-sidebar__link{
    padding: 0;
  }

  .collection-sidebar__clear{
    margin-left: 25px;
  }

  .collection__sort-by {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sidebar-mobile-title {
    display: block;
    font-weight: 200;
    font-size: 12px;
    line-height: 21px;
    text-transform: uppercase;
    font-family: var(--my-font);
    color: var(--color-link-text);
    padding: 15px 20px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: relative;
  }

  .sidebar-mobile-title__icon {
    position: absolute;
    left: 20px;
  }

  .sidebar-mobile-title__icon svg {
    vertical-align: middle;
  }

  .filter-mobile {
    display: block;
  }

  .collection-sidebar.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #e4f1f5;
    z-index: 1001;
    height: 100%;
    overflow: auto;
    width: 100%;
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    padding-bottom: 40px;
    text-decoration: none;
  }

  .open-filter .collection-sidebar.sidebar {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  .collection__wrapper,
  .collection__header {
    grid-template-columns: 1fr;
  }

  .collection-product__inner {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .collection__wrapper {
    grid-gap: 56px 20px;
  }

  .collection__header {
    padding-top: 40px;
    grid-gap: 24px;
    margin-bottom: 22px;
  }

  .header-title {
    font-size: 20px;
    line-height: 28px;
  }

  .collection__nav {
    overflow: auto;
    margin-right: -20px;
  }

  .collection__menu {
    width: 980px;
    padding-bottom: 10px;
  }

  .sidebar-filter__inner {
    padding: 20px;
  }

  .collection-product__inner {
    grid-gap: 40px 20px;
  }
}
.card-product__item {
  transition: all .2s ease-in;
}
@media (min-width: 768px){
  .collection-candy__list {
    transform: initial !important;
  }

  .card-product__item {
    max-width: 100%;
    width: auto!important;
    margin-right: 0 !important;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .collection-candy__list {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gap: 56px 20px;
    align-items: flex-start;
    box-sizing: inherit;
  }
}
@media (max-width: 767px) {
  .custom-collection__list {
    grid-template-columns: 1fr 1fr;
  }

  .collection-candy__list {
    grid-template-columns: 1fr;
    display: flex;
    grid-gap: 0;
  }

  .collection-product__inner {
    grid-template-columns: 1fr 1fr;
  }

  .collection-candy__inner {
    padding-bottom: 48px;
  }

  .custom-swiper-pagination {
    display: block;
  }

  .collection-view-all {
    display: none;
  }

/*   .card-product__image {
    padding: 32px;
  } */

  .collection-candy__wrapper {
    margin-left: -20px;
    margin-right: -20px;
  }

  .swiper.js-product-slider {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 22px;
  }

  .collection-view-all__mobile {
    padding-left: 20px;
    padding-right: 20px;
  }

  .collection-candy__title {
    margin-bottom: 12px;
  }
}
.collection-page-section {
  padding-top: 40px;
}

@media (max-width: 460px) {
  .collection-product__inner {
    grid-template-columns: 1fr;
  }
}

/* COLLECTION PACK A BAG */

.collection-pack-a-bag {
  position: relative;
  user-select: none;
}
.collection-pack-a-bag .card-product__picture {
  touch-action: none;
  position: relative;
  user-select: none;
}

.collection-pack-a-bag .card-product__picture:hover{
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.collection-pack-a-bag .card-product__picture:active{
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
} */

.packabag-sidebar {
  position: fixed;
  transform: translateY(-50%);
  z-index: 2;
  left: 0;
  top: unset;
  bottom: 0;
  width: 100%;  
}

#drop-zone {
  display: block;
  cursor: pointer;
  background: url(//cdn.shopify.com/s/files/1/0004/8132/9204/t/73/assets/Pack-A-Bag_BKGD_bottom.png?v=101638301398981902281649261730) no-repeat;
  background-size: contain;
  width: 225px;
  height: 215px;
  left: 50%;
  top: unset;
  bottom: -5px;
  transform: translate(-50%);
  position: fixed;
  z-index: 100;;
}

.packabag-sidebar__logo {
  padding: 55px 0 10px;
  max-width: 150px;
  margin: 0 auto;  
}

.packabag-sidebar__bag {
  background: url(//cdn.shopify.com/s/files/1/0004/8132/9204/t/73/assets/Pack-A-Bag_BAG.png?v=1315517…) no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  text-align: center;
  position: relative;
  margin: -30px auto 0;  
}

.packabag-sidebar__count {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-family: Trend Sans One,Arial,sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

@media (max-width: 990px) {
  #drop-zone{
    display: none;
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated:hover {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}
#drop-zone .card-product__picture.on-bag {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.5) !important;
  transition: all 1s ease-in;
}
#drop-zone .card-product__picture.in-bag {
 transform: translate(-50%, -50%)  scale(0) rotate(720deg) !important;
}